.datepicker {
	position: absolute;
	font-size: 10px;
	font-family: Tahoma, sans-serif;
	color: #000;
	line-height: normal;
	width: 172px;
	height: 135px;
	padding: 5px;
/* 	background: url(frame.png) no-repeat; */
    border:1px solid #BBBBBB;
    background-color: #F7F7F7;
}

.datepicker-time{
    max-height: 105px;
}

/* header
********************************************************/
.datepicker .header {
	position: relative;
	height: 15px;
	margin-bottom: 5px;
	padding-top: 1px;
}

.datepicker .header .title {
	text-align: center;
	margin: 0 18px 0 18px;
}

.datepicker .header .titleText {
    font-size: 13px;
    font-weight: bold;
}

.datepicker .header .previous,
.datepicker .header .next,
.datepicker .header .closeButton {
	position: absolute;
	cursor: pointer;
	text-indent: -40px;
	overflow: hidden;
	width: 12px;
	height: 12px;
	top: 2px;
	background-image: url(buttons.png);
	background-position: left top;
	background-repeat: no-repeat;
}

.datepicker .header .previous {
	left: 4px;
}
.datepicker .header .previous:hover {
	background-position: left bottom;
}
.datepicker .header .next {
	right: 4px;
	background-position: -13px top;
}
.datepicker .header .next:hover {
	background-position: -13px bottom;
}
.datepicker .header .closeButton {
	display: none;
	right: 0px;
	top: 0px;
	background-position: right top;
}
.datepicker .header .closeButton:hover {
	background-position: right bottom;
}

/* body
********************************************************/
.datepicker .body {
	position: relative;
	top: 0px;
	left: 2px;
	width: 168px;
	height: 112px;
	overflow: hidden;
}

/* time
********************************************************/
.datepicker .time {
	position: relative;
	width: 100%;
	height: 100%;
}

.datepicker .time .hour,
.datepicker .time .separator,
.datepicker .time .minutes {
	border: 1px solid #ccc;
	background: #fff;
	width: 50px;
	font-size: 17px;
	position: absolute;
	text-align: center;
	padding: 2px;
}

.datepicker .time .hour {
	left: 15px;
}
.datepicker .time .separator {
	background: transparent;
	border: 0px;
	width: 10px;
	left: 76px;
	margin-top: 10px;
}

.datepicker .time .minutes {
	left: 95px;
}
.datepicker .time .ok {
	position: absolute;
	top: 45px;
	width: 136px;
	left: 15px;
	font-size: 17px;
}

/* days-grid
********************************************************/
.datepicker .days .day {
	float: left;
	text-align: center;
	overflow: hidden;
	width: 23px;
	height: 15px;
	margin: 0 1px 1px 0;
}
.datepicker .days .titles {
	height: 15px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1px;
}
.datepicker .days .day0 {
	margin-right: 0;
}

.datepicker .days .week5 .day {
	margin-bottom: 0;
}

/* days-colors
********************************************************/
.datepicker .days .week .day {
	cursor: pointer;
}
.datepicker .days .week .day:hover {
	background: url(days.png) left top no-repeat;
	color: #0084AA;
}

.datepicker .days .otherMonth {
	color: #aaa;
}

.datepicker .days .selected {
	background: url(days.png) left bottom no-repeat;
	color: #316879;
}

/* months-grid
********************************************************/
.datepicker .months .month {
	float: left;
	cursor: pointer;
	text-align: center;
	padding-top: 6px;
	width: 55px;
	overflow: hidden;
	height: 21px;
	margin: 0 1px 1px 0;
}

.datepicker .months .month3,
.datepicker .months .month6,
.datepicker .months .month9,
.datepicker .months .month12 {
	margin-right: 0;
}

.datepicker .months .month10,
.datepicker .months .month11,
.datepicker .months .month12 {
	margin-bottom: 0;
}

/* months-colors
********************************************************/
.datepicker .months .month:hover {
	background: url(months.png) left top no-repeat;
	color: #0084AA;
}

.datepicker .months .selected {
	background: url(months.png) left bottom no-repeat;
	color: #316879;
}

/* years-grid
********************************************************/
.datepicker .years .year {
	float: left;
	cursor: pointer;
	text-align: center;
	padding-top: 6px;
	width: 32px;
	overflow: hidden;
	height: 21px;
	margin: 0 1px 1px 0;
	font-size: 9   pt;
}

.datepicker .years .year4,
.datepicker .years .year9,
.datepicker .years .year14,
.datepicker .years .year19 {
	margin-right: 0;
}

.datepicker .years .year15,
.datepicker .years .year16,
.datepicker .years .year17,
.datepicker .years .year18,
.datepicker .years .year19 {
	margin-bottom: 0;
}

/* years-colors
********************************************************/
.datepicker .years .year:hover {
	background: url(years.png) left top no-repeat;
	color: #0084AA;
}

.datepicker .years .selected {
	background: url(years.png) left bottom no-repeat;
	color: #316879;
}

/* global
********************************************************/
.datepicker .unavailable {
	background: none !important;
	color: #fbb !important;
	cursor: default !important;
}
