<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rhizome's Seven On Seven Conference | Saturday, April 14th 2012</title>
    <meta name="description" content="Presented by HTC, the Seven on Seven Conference pairs seven leading artists with seven game-changing technologists in teams of two, and challenges them to develop something new, be it an application, social media, artwork, product, or whatever they imagine, over the course of a single day.
">
    <meta name="viewport" content="width=1000">
    <link rel="stylesheet" href="{{ STATIC_URL }}sevenonseven_2012/css/2012.css">
    
</head>

<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    
    <div role="main" id="content">
    
        <div class="column" id="column1">

            <div class="section-full">
                <img id = "main-logo" width="300" src = "{{ STATIC_URL }}sevenonseven_2012/img/7on7_logo-2012.png">
            </div>
                    
            <div class="section center">
                <h1>Saturday, April 14th, 2012</h1>
                <h2>12:00-9:00 at the New Museum</h2>
            </div>
            
            <div id ="description" class="section left">
                Presented by <a href="http://www.htc.com/"><b>HTC</b></a>, the Rhizome Seven on Seven Conference pairs seven leading artists with seven game-changing technologists in teams of two, and challenges them to develop something new&#x2014;be it an application, social media, artwork, product, or whatever they imagine&#x2014;over the course of a single day.
            </div>
            
            <div class="section left">
                <h5 class="gray">Conference Schedule:</h5>
                <div><span class="float-left gray">12pm</span><span class="float-right">Keynote by <a href="http://www.rushkoff.com/"><b>Douglas Rushkoff</b></a></span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">12:30 - 2pm</span><span class="float-right">Presentations</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">2 - 2:30pm</span><span class="float-right">Lunch by City Bakery</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">3 - 6pm</span><span class="float-right">Presentations Cont'd</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">6 - 9pm</span><span class="float-right">Afterparty</span></div>
                <div class="clear"></div>
            </div>

            <div id="documentation"> 
                <a class="blue" target="_blank" href="http://vimeo.com/user365623/videos">
                    Documentation of previous Seven on Seven conferences
                    <img class="icon" src="{{ STATIC_URL }}sevenonseven_2012/img/video_icon.png" />
                </a>                    
            </div>

        </div>
        
        <div class="column" id="column2">
            <div id = "middleblock-wrap">
                <div id = "participants">
                
                                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/bartholl.jpg" />
                        </div>
        
                        <div class="participant-name">Aram Bartholl</div>
        
                        <div class="participant-title gray">Artist</div>
                    
                        <div class="participant-bio"><p>Aram Bartholl's work creates an interplay between internet, culture and reality. The versatile communication channels are taken for granted
these days, but how do they influence us? According to the paradigm
change of media research Bartholl not just asks what man is doing with
the media, but what media does with man. The tension between public and
private, online and offline, technology infatuation and everyday life
creates the core of his producing. In public interventions and public
installations Bartholl examines which and how parts of the digital world
can reach back into reality.</p>

<p>Beside numerous workshops and performances he exhibited in the Museum of
Modern Art NYC, The Pace Gallery, [DAM] Berlin/Cologne, eARTS Shanghai,
NIMK Netherlands Media Art Institute, KAdE Amersfoort, Kunstraum
Kreuzberg, Skulpturenpark Berlin, Total Museum of Contemporary Art
Seoul, Eyebeam New York, FACT Liverpool and at Kunstverein Hamburg. Aram
Bartholl is member of the artist group 'F.A.T. Lab' ('Free Art and
Technology Lab'). He lives and works in Berlin.</p>
                       </div>
        
                    </div>
                    
                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/cha.jpg" />
                        </div>
        
                        <div class="participant-name">Xavier Cha</div>
        
                        <div class="participant-title gray">Artist</div>
                    
                        <div class="participant-bio"><p>Xavier Cha's performance-based work revolves around modes of
accessibility, cultural exchange and hierarchies of space.  Her
performances, installations, and videos tease out phantasmic supports
behind elements in contemporary culture and the individual's position
within this web of complex subjectivity. A frequent collaborator,
Xavier has invited actors, dancers, musicians, cults, and clowns among
many others- not only to participate in her projects, but also to
become protagonists of the work. </p> 

<p>Xavier's work has been exhibited at
the Whitney Museum of American Art, de la Cruz Collection Contemporary
Art Space, The Kitchen, Museum of Contemporary Art North Miami,
Contemporary Art Museum St. Louis, Moscow Biennial, Northern Gallery
for Contemporary Art (UK), the Sculpture Center, Asia Society Museum,
and Hammer Museum, among other galleries and museums throughout the
United States and Europe.</p>
                        </div>
        
                    </div>

                  <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/frazier.jpg" />
                        </div>
        
                        <div class="participant-name">Latoya Ruby Frazier</div>
        
                        <div class="participant-title gray">Artist</div>
                    
                        <div class="participant-bio"><p>Photographer and media artist LaToya Ruby Frazier (b. 1982 Braddock Pennsylvania) uses the conventions of social documentary to probe and upend traditional narratives
of urban growth and the triumph of industry. Exposing the underbelly of corporate
practices-rapid de-industrialization and outsourcing, environmental negligence,
and inner-city gentrification-Frazier's work examines the socioeconomic crisis and
postmodern condition in her hometown Braddock PA. Her gelatin silver prints of a
ten-year collaboration with her mother and grandmother, Notion of Family (2002-
ongoing) was on view in the 2009 New Museum Triennial Younger Than Jesus. Her
new photolithograph series Campaign For Braddock Hospital is currently on view in the
Whitney Museum of American Art 2012 Biennial.</p>

<p>Frazier's work has been exhibited internationally at the 2011 Incheon Women Artist's
Biennale, Incheon Korea, in Commercial Break, Garage Projects, Venice Italy and at
the Michel Rein Gallery in Paris. Currently LaToya is a featured artist in the new Art 21
online documentary series New York Close Up.</p>

<p>She is the Associate Curator for the Mason Gross Galleries in the Department for Visual
Arts where she also teaches photography in the Mason Gross School of the Arts at
Rutgers University, New Brunswick NJ.</p>
                        </div>
        
                    </div>
                    
                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/mohaiemen.jpg" />
                        </div>
        
                        <div class="participant-name">Naeem Mohaiemen</div>
        
                        <div class="participant-title gray">Artist</div>
                    
                        <div class="participant-bio"><p>Naeem Mohaiemen explores histories of the international left through essays, photography, and film. Since 2006, he has worked on The
Young Man Was, a project about 1970s Bangladesh, chapters of which
have shown at the New Museum, Finnish Museum of Photography,
Sharjah Biennial, Experimenter (Kolkata), MUAC (Mexico City), etc. His
publications include Chittagong Hill Tracts in the Blind Spot of Bangladesh
Nationalism (editor), "Islamic Roots of Hip-Hop" (Sound Unbound, MIT
Press), "Everybody Wants To Be Singapore" (Carlos Motta: The Good Life,
Art in General), and "Adman Blues" (Indian Highway, Hans Ulrich Obrist
& Julia Peyton-Jones cur., Serpentine Gallery). His work has appeared
in Granta, Rethinking Marxism, Modern Painters, Databrowser, Secret
identities: Asian Superhero Comics, etc. [shobak.org]</p>
                        </div>
        
                    </div>

                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/rafman.jpg" />
                        </div>
        
                        <div class="participant-name">Jon Rafman</div>
        
                        <div class="participant-title gray">Artist</div>
                    
                        <div class="participant-bio"><p>Jon Rafman is an artist, filmmaker, and essayist.  Mixing irony, melancholy and humour, his work engages directly with contemporary experience while exploring
the impact of technology on our consciousness. He holds a B.A. in Philosophy
and Literature from McGill University and a M.F.A. from the School of the Art
Institute of Chicago. His films and new media work have gained international
attention and have been exhibited at Ars Electronica Festival in Linz, Museum of
Contemporary Art of Rome, and the New Museum in New York City. Rafman's
Nine Eyes of Google Street View has been featured in Modern Painter, Frieze,
Guardian, Lib&eacute;ration, New York Times, and Harper's Magazine.</p>           
                        </div>
        
                    </div>
                  
                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/simon.jpg" />
                        </div>
        
                        <div class="participant-name">Taryn Simon</div>
        
                        <div class="participant-title gray">Artist</div>
                    
                        <div class="participant-bio">
                        <p>Taryn Simon was born in New York in 1975.</p>

 <p>Her recent work, A Living Man Declared Dead and Other Chapters I-XVIII, will be on exhibition at The Museum of Modern Art, New York in 2012.  A Living Man Declared Dead and Other Chapters I-XVIII was produced over a four-year period (2008-11), during which Simon travelled around the world researching and recording bloodlines and their related stories. In each of the eighteen 'chapters' that make up the work, the external forces of territory, power, circumstance or religion collide with the internal forces of psychological and physical inheritance. The subjects documented by Simon include victims of genocide in Bosnia, test rabbits infected with a lethal disease in Australia, the first woman to hijack an aircraft, and the living dead in India. Her collection is at once cohesive and arbitrary, mapping the relationships among chance, blood, and other components of fate.</p>

 <p>Her previous work Contraband (2010), is an archive of global desires and perceived threats, presenting 1,075 images of items that were detained or seized from passengers and mail entering the United States from abroad. An American Index of the Hidden and Unfamiliar (2007), reveals objects, sites, and spaces that are integral to America's foundation, mythology, or daily functioning but remain inaccessible or unknown to a public audience. These unseen subjects range from radioactive capsules at a nuclear waste storage facility to a black bear in hibernation to the art collection of the CIA. The Innocents (2003) documents cases of wrongful conviction in the U.S., calling into question photography's function as a credible witness and arbiter of justice. </p>

 <p>Simon's photographs and writing have been the subject of monographic exhibitions at institutions including Tate Modern, London (2011); Neue Nationalgalerie, Berlin (2011); Whitney Museum of American Art, New York (2007); Museum f&uuml;r Moderne Kunst, Frankfurt (2008); Kunst-Werke Institute for Contemporary Art, Berlin (2004); and P.S.1 Contemporary Art Center, New York (2003). Permanent collections include the Metropolitan Museum of Art, Tate Modern, Whitney Museum, Centre Pompidou, and the Los Angeles Museum of Contemporary Art. In 2011 her work was included in the 54th Venice Biennale. </p>
                        </div>
        
                    </div>
 
                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/sy.jpg" />
                        </div>
        
                        <div class="participant-name">Stephanie Syjuco</div>
        
                        <div class="participant-title gray">Artist</div>
                    
                        <div class="participant-bio">
                        <p>STEPHANIE SYJUCO's work uses the tactics of bootlegging, reappropriation, and fictional fabrications to address issues of cultural biography, labor, and economic globalization. Working primarily in sculpture and installation, her projects leverage open-source systems, shareware logic, and flows of capital, creating frictions between high ideals and everyday materials. This has included starting a global collaborative project with crochet crafters to counterfeit high-end consumer goods; presenting a parasitic art counterfeiting event, "COPYSTAND: An Autonomous Manufacturing Zone" for Frieze Projects, London (2009); and "Shadowshop," an alternative vending outlet embedded at SFMOMA exploring the ways in which artists are navigating the production, consumption, and dissemination of their work (2011).</p>

<p>Born in the Philippines, she received her MFA from Stanford University and BFA from the San Francisco Art Institute. Her work has been shown nationally and internationally, and included in exhibitions at MoMA/P.S.1, the Whitney Museum of American Art, SFMOMA, ZKM Center for Art and Media, The Contemporary Museum Honolulu, The Contemporary Arts Museum Houston, and the California Biennial at the Orange County Museum of Art, among others. In 2007 she led counterfeiting workshops in Istanbul and in 2009 contributed proxy sculptures for MOMA/P.S.1's joint exhibition, "1969". She has taught at Stanford University, The California College of the Arts, UC Berkeley, and Carnegie Mellon University. A recipient of a 2009 Joan Mitchell Painters and Sculptors Award, she lives and works in San Francisco.</p>                         

                        </div>
            
                    </div>       
                    
                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/ashkenas.jpg" />
                        </div>
        
                        <div class="participant-name">Jeremy Ashkenas</div>

                        <div class="participant-title gray">Creator Coffescript, Backbone.js, Underscore.js</div>

                            
                        <div class="participant-bio">
                        <p>Jeremy Ashkenas works on the Interactive News team at the New York Times, and at DocumentCloud.org, helping news organizations analyze and publish the primary source documents behind the news. He created CoffeeScript, Backbone.js, Underscore.js, Docco and Jammit, among other opensource projects.</p>
                        </div>
        
                    </div>
                 
                
                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/cook.jpg" />
                        </div>
        
                        <div class="participant-name">Blaine Cook</div>

                        <div class="participant-title gray">Sociotechnologist</div>

                            
                        <div class="participant-bio"><p>Blaine is a London-based sociotechnologist, a hacker dissatisfied by simply building software. His long-term obsession is fostering
anarchic networks as a counter-point to the centralised systems that
have come to dominate the web over the past decade. Through numerous
collaborations, he has developed protocols and concepts that are
forming the basis for many social internet technologies yet to come.
His past work as the founding architect of Twitter has seen broad
adoption both culturally and technologically. He is currently working
on a new venture to bring simple community-building tools to
independent poetry and short story publishers and writers of the world
with his partner, author Maureen Evans.</p>
                        </div>
        
                    </div>
                    
                    
                     <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/forman.png" />
                        </div>
        
                        <div class="participant-name">Charles Forman</div>
        
                        <div class="participant-title gray">Co-founder and CEO of Picturelife, Founder OMGPOP</div>
                    
                        <div class="participant-bio"><p>Charles Forman is just one dreamer looking for another. Charles Forman is the co-founder and CEO of Picturelife, a service that allows people to store and organize all their pictures, based in Chicago. Previously, he founded OMGPOP, a social game company, which recently sold to Zynga for 220 million dollars. But whatevs, Charles isn't even about that. Charles is about making stuff people like. He uses the disparity between the way things are and the way they should be to fuel his creativity by designing, engineering, and hand waving his way to creating stuff. Charles holds a Ph.D. from Harvard that he stole from his doctor's office, but will totally deny it if questioned.</p>
                        </div>
        
                    </div>

                    
                    
                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/herf.jpg" />
                        </div>
        
                        <div class="participant-name">Michael Herf</div>
        
                        <div class="participant-title gray">Co-Founder of Picasa</div>
                    
                        <div class="participant-bio"> <p>Michael Herf enjoys blending technology and design to make software. Michael co-founded Picasa (as CTO), and served as Senior Engineering Manager at Google upon its acquisition by Google. After leaving Google, Michael created f.lux, a display color tool with 3 million users, and he currently advises several startups.  His prior experience includes senior engineering roles at Idealab! and MetaCreations. He graduated from Carnegie Mellon University with a BS in Mathematics & Computer Science. Currently working on several new stealth projects, he is an amateur musician and photographer, and lives in LA with his wife and daughter.</p>                        </div>
        
                    </div>
    
                       
                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/swartz.jpg" />
                        </div>
        
                        <div class="participant-name">Aaron Swartz</div>
        
                        <div class="participant-title gray">Co-Founder of Demand Progress</div>
                    
                        <div class="participant-bio"><p>Aaron Swartz is co-Founder of Demand Progress, a political group with over a million members that led the fight against the Internet censorship bill. He developed the Open Library website, the web.py framework, and co-authored the RSS 1.0 specification.</p>
                        </div>
        
                    </div>
                    
                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/vinh.jpg" />
                        </div>
        
                        <div class="participant-name">Khoi Vinh</div>
        
                        <div class="participant-title gray">Co-Founder and CEO of Mixel for iPad</div>
                    
                        <div class="participant-bio"><p>Khoi Vinh is the co-Founder and CEO of Mixel for iPad, the world's first social collage app, based in New York City. He has a long history as a user experience designer, writer and speaker, and was recently named one of "The 50 Most Influential Designers in America" by Fast Company. Previously he was the design director at NYTimes.com for five years, where he led the in-house design team in user experience innovation for digital products of all kinds. For over a decade, he has published his thoughts on design, technology and culture at the widely-read blog Subtraction.com.</p>
                        </div>
        
                    </div>
                    
                    <div class="participant">
        
                        <div class="participant-image">
                            <img width="400" height="200" src = "{{ STATIC_URL }}sevenonseven_2012/img/participants/volodkin.jpg" />
                        </div>
        
                        <div class="participant-name">Anthony Volodkin</div>
        
                        <div class="participant-title gray">Founder of The Hype Machine</div>
                    
                        <div class="participant-bio"><p>Anthony Volodkin created The Hype Machine nearly seven years ago in his dormroom and has been unable to stop thinking about how people discover music ever since.  In that time, a small, passionate team has been assembled around the product and the Hype Machine now reaches over 2 million people each month out of a small office in Greenpoint, Brooklyn.  The project has been called a "juggernaut of global influence" by Billboard, and is frequently credited as helping new artists take off by the likes of Foster the People, Chromeo, Skrillex and many others.  Prior to that he spent six years doing IT consulting while constantly carving out evenings to see live music.  Anthony was born in Moscow, Russia and has been living in Brooklyn, New York since he was 12.</p>
                        </div>
        
                    </div>
                    
                </div><!--end participants-->

                <div id = "tickets">
                    <a id="tickets" href="http://sevenonseven.eventbrite.com">Purchase Tickets</a>
                </div>
                
                <div id = "social">
                    <div id = "social-section">
                        <div class="fb-like" data-href="http://rhizome.org/sevenonseven/" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>
                        
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rhizome.org/sevenonseven" data-via="rhizomedotorg" data-lang="sv" data-related="rhizomedotorg" data-hashtags="sevenonseven">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
                    </div>
                </div>
                            
            </div><!--end middleblock wrap-->

        </div>

        
        <div class="column" id="column3">
            <div id="participants-list" class="section blue left">2012 Participants</div>
            
            <div class="section left">
                <h5 class="gray">Artists</h5>
                <div class="list">
                    <a id="bartholl" class="select" href="#0">Aram Bartholl</a><br /> 
                    <a id="cha" class="select" href="#1">Xavier Cha</a><br /> 
                    <a id="frazier" class="select" href="#2">LaToya Ruby Frazier</a><br /> 
                    <a id="mohaimen" class="select" href="#3">Naeem Mohaiemen</a><br /> 
                    <a id="rafman" class="select" href="#4">Jon Rafman</a><br /> 
                    <a id="simon" class="select" href="#5">Taryn Simon</a><br /> 
                    <a id="syjuco" class="select" href="#6">Stephanie Syjuco</a>
                </div>
            </div>
            
            <div class="section left">
                <h5 class="gray">Technologists</h5>
                    <div class="list">
                    <a id="ashkenas" class="select" href="#7">Jeremy Ashkenas</a><br /> 
                    <a id="cook" class="select" href="#8">Blaine Cook</a><br /> 
                    <a id="forman" class="select" href="#9">Charles Forman</a><br /> 
                    <a id="herf" class="select" href="#10">Michael Herf</a><br /> 
                    <a id="swartz" class="select" href="#11">Aaron Swartz</a><br /> 
                    <a id="vinh" class="select" href="#12">Khoi Vinh</a><br /> 
                    <a id="volodkin" class="select" href="#13">Anthony Volodkin</a>
                </div>
            </div>
            
            <div id="htc">Conference Sponsor</div>

            <a id="htc-logo-link" href="http://www.htc.com/">
                <img id ="htc-logo" src ="{{ STATIC_URL }}sevenonseven_2012/img/HTC_Logo.png" />
            </a>
    
        </div>
        
        <div class="clear"></div>

        
        <div id="sponsors" >
            <div id="sponsors-header">Conference Partners</div>

            <div id ="sponsors-logos">
                <a href="http://betaworks.com/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2012/img/sponsors/betaworks_110.png" />
                </a>
                <a href="http://ebay.com">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2012/img/sponsors/ebay_110.png" />
                </a>
                <a href="http://www.knoll.com/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2012/img/sponsors/knoll_110.png" />
                </a>
                <a href="http://www.nymag.com/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2012/img/sponsors/nymag_2012.png" />
                </a>
                 <a href="http://www.rre.com/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2012/img/sponsors/rre_110.png" />            
                </a>
                 <a href="http://www.wk.com/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2012/img/sponsors/w+k_110.png" />
                </a>
                <a href="http://www.standardhotels.com/new-york-city/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2012/img/sponsors/standard_110.png" />
                </a>
            </div>
        
<!--
            <div id="sponsors-list">
            The Seven on Seven conference was produced in partnership with <a href="http://betaworks.com/">betaworks</a>, <a href="http://ebay.com">eBay</a>, <a href="http://www.knoll.com/">Knoll</a>, <a href="http://www.nymag.com/">NYMag</a>, <a href="http://www.rre.com/">RRE</a>, and <a href="http://www.wk.com/">Weiden + Kennedy</a>. <br />Accommodation support provided by <a href="http://www.standardhotels.com/new-york-city/">The Standard</a>.
            </div>
-->
        </div>      
            

    </div>


    <script src="{{ STATIC_URL}}sevenonseven_2012/js/mootools-core-1.3.1-full-compat-yc.js"></script>
    <script src="{{ STATIC_URL}}sevenonseven_2012/js/mootools-more-1.3.2.1.js"></script>
    <script src="{{ STATIC_URL}}sevenonseven_2012/js/PeriodicalExecuter.js"></script>
    <script src="{{ STATIC_URL}}sevenonseven_2012/js/Carousel.js"></script>

    <script type="text/javascript">    
        window.addEvent("domready", function(){
			var links = $$('.list a');
            var carousel = new Carousel.Extra({
                container: 'participants',
                activeClass: 'selected',
                distance: 1,
                mode: 'horizontal', 
                tabs:links,
                interval: 20,
                scroll: 1,
                distance: 1,
                circular: true,
                fx: {
                    duration: 400,
                    transition: Fx.Transitions.Quart.easeInOut
                }
            });
            $('column2').setStyle('visibility','visible');
        });
    </script>
    
    
    
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
 
    <script type="text/javascript">
        var _gaq=[['_setAccount','UA-768502-3'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    
    <script type="text/javascript">
        var _sf_async_config={uid:26954,domain:"rhizome.org"};
        (function(){
          function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src',
               (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
               "js/chartbeat.js");
            document.body.appendChild(e);
          }
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
             loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>        


</body>
</html>