<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rhizome's Seven On Seven Conference | Sunday, Oct 27th 2013</title>
    <meta name="description" content="The first international edition of Rhizome's Seven on Seven conference comes to the Barbican Centre this autumn. The event pairs seven leading artists with seven luminary technologists, and challenges them to develop something new&mdash;be it an application, social media, artwork, product, or whatever they imagine&mdash;over the course of a single day. They unveil these ideas for the first time at this event.">
    <meta name="viewport" content="width=1000">
    <link rel="stylesheet" href="{{ STATIC_URL }}sevenonseven_2013_london/css/2013_london.css">
</head>

<body>
    <div role="main" id="content">
        <div class="column" id="column1">
            <div class="section-full">
                <img id = "main-logo" width="300" src = "{{ STATIC_URL }}sevenonseven_2013_london/img/7on7_logo-2012-minus-htc.png">
            </div>
                    
            <div class="section center">
                <h1>Sunday, 27th October, 2013</h1>
                <h2>12:00-18:00 at Barbican Centre, London</h2>
            </div>
            
            <div id ="description" class="section left">
                The first international edition of Rhizome's Seven on Seven conference comes to the Barbican Centre this autumn. The event pairs seven leading artists with seven luminary technologists, and challenges them to develop something new&mdash;be it an application, social media, artwork, product, or whatever they imagine&mdash;over the course of a single day. They unveil these ideas for the first time at this event.
            </div>
            
<!--             <div class="section left">
                <h5 class="gray">Conference Schedule:</h5>
                <div><span class="float-left gray">12pm</span><span class="float-right">Keynote Address</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">12:30 - 2pm</span><span class="float-right">Presentations</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">2 - 2:30pm</span><span class="float-right">Lunch</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">3 - 6pm</span><span class="float-right">Presentations Cont'd</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">6:30 - 9pm</span><span class="float-right">After-party at the New Museum</span></div>
                <div class="clear"></div>
            </div>
 -->
           
        <div id="participants-list" class="section blue center">LONDON PARTICIPANT TEAMS</div>
            <div class="section left participants">
                <ul class="participants-list">
                    <a href="#0">
                        <li><span class="left-col">Susan Philipsz</span> + Naveen Selvadurai</li>
                    </a>
                    <a href="#1">
                        <li><span class="left-col">Jonas Lund</span> + Michelle You</li>
                    </a>
                    <a href="#2">
                        <li><span class="left-col">Mark Leckey</span> + Daniel Williams</li>
                    </a>
                    <a href="#3">
                        <li><span class="left-col">Graham Harwood</span> + Alberto Nardelli</li>
                    </a>
                    <a href="#4">
                        <li><span class="left-col">Aleksandra</span> + Smári McCarthy</li>
                        <li><span class="left-col">Domanović</span></li>
                    </a>
                    <a href="#5">
                        <li><span class="left-col">Cécile B. Evans</span> + Alice Bartlett</li>
                    </a>
                    <a href="#6">
                        <li><span class="left-col">Haroon Mirza</span> + Ryder Ripps</li>
                    </a>
                </ul>
                <!--<h5 class="gray">FULL LIST OF PARTICIPANTS WILL BE ANNOUNCED MARCH 19 - GET YOUR EARLY BIRD TICKETS NOW</h5>-->
            </div>
<!--             <div class="section left keynote">
                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/2013/evgeny_morozov.jpg.70x70_q95_crop-15,0.jpg" /> 
                <h2>Keynote Speaker:</h2>
                <h3>Evgeny Morozov</h3>
                <p>author of 'The Net Delusion' and 'To Save Everything, Click Here'</p>
            </div>
 --><!--             <div class="section moderate">
                Moderated by John Michael Boling<br />
            </div>
 -->        </div>
        
        <div class="column" id="column2">
            <div id="middleblock-wrap">
                <div id="participants">

                   
                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/susan.jpg" /> 
                            </div>
            
                            <div class="participant-name">Susan Philipsz</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Susan Philipsz’s work deals with the spatial properties of sound and with the relationships between sound and architecture. Born in 1965 in Glasgow, she completed a BA in Fine Art at Duncan of Jordanstone College of Art, Dundee (1989-93) and an MA in Fine Art at The University of Ulster, Belfast (1993-94). In 2000 she was awarded the P.S.1 studio residency programme and in 2001 she took up residency at Kunst-Werke e.V. artist residency programme in Berlin where she has lived since. In 2010 she won the Turner Prize.</p>

                                <p>Her current projects include Susan Philipsz, The Missing String, K21 Ständehaus, Kunstsammlung Nordrhein-Westfalen, Düsseldorf, (2013) and Susan Philipsz, Hamburger Bahnhof, Berlin, (2014). Philipsz has also been commissioned to make a permanent sound installation for Governor's Island in New York City. Titled Day is Done, the work will open with the official launch of the park in November 2013.</p>

                                <p>Watch documentation of Susan Phillipsz's Lowlands (2010) on Rhizome <a target="_blank" href="http://rhizome.org/editorial/2011/feb/28/lowlands-2010-susan-philipsz/">here</a>.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                        <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/naveen.jpg" /> 
                            </div>
            
                            <div class="participant-name">Naveen Selvadurai</div>
            
                            <div class="participant-title gray">Foursquare</div>
                        
                            <div class="participant-bio">
                                <p>Naveen Selvadurai is an adventurer, hacker and co-founder of the location-based social networking site Foursquare. He is now working on launching a consumer health insurance project, with the start-up Oscar in New York City. Before this, he helped build the mobile products and team at Sony Music. He received his M.S./B.S. in Computer Science from Worcester Polytechnic, while working at Sun Microsystems and Lucent Technologies.</p>
                           </div>
                        </div>
                    </div>
                        <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/jonas.jpg" /> 
                            </div>
            
                            <div class="participant-name">Jonas Lund</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Jonas Lund is a Swedish artist currently based in Berlin (DE) and Amsterdam (NL). He makes use of a wide variety of media, combining software-based works with performance, installation, video and photography.</p>

                                <p>Lund’s work often materializes as a web performance that opens up otherwise walled off and private spaces of the Internet for shared use (We See In Every Direction, 2013; Public Access Me, 2012; Selfsurfing, 2012). Behind the obvious playfulness of the collaborative online experiences, these works generate the daunting suggestion that we operate in a post-privacy digital environment, opening up space toquestion the role of the Web in a world where the death of privacy is a done deal.</p>

                                <p>Lund obtained a BFA in Photography at the Gerrit Rietveld Academie in Amsterdam in 2009, and recently finished his MA at the Piet Zwart Institute in Rotterdam. His work has been widely exhibited at art institutes, museums and on digital exhibition platforms, including Tent (Rotterdam, NL), New Museum (New York, US), Van Abbemuseum (Eindhoven, NL), Eyebeam (New York, US), W139 (Amsterdam, NL), the Rhizome Download (online) and Temporary Stedelijk 7 (online)
                                amongst others.</p>

                                <p>Watch documentation from Jonas Lund's recent Rhizome featured piece, We See In Every Direction (2013), on Wired <a target="_blank" href="http://www.wired.com/design/2013/06/a-browser-that-lets-you-surf-the-web-with-total-strangers/">here</a>.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                         <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/michelle.jpg" /> 
                            </div>
            
                            <div class="participant-name">Michelle You</div>
            
                            <div class="participant-title gray">Songkick</div>
                        
                            <div class="participant-bio">
                                <p>Michelle You is cofounder and chief product officer of Songkick, a website and service that provides personalized news about live music events. It allows users to track their favorite bands and receive email alerts when a tracked band plays a gig nearby. Songkick has the most comprehensive database of concerts in the world and has grown to become the second most-trafficked concert site in the world after Ticketmaster, with almost 8 million monthly unique visitors and apps for Android, iPhone, and Spotify. In 2012, Songkick created Detour, a platform which enables fans to pledge in advance to buy tickets for an artist, expressing their desire to see the artist live. Detour has allowed artists such as Andrew Bird and Hot Chip to play shows in entirely new markets. Songkick is backed by Y Combinator, Index Ventures, and Sequoia Capital.</p>

                                <p>You studied English and philosophy at Columbia before receiving her master’s in English at Cambridge. She was the managing editor of Theme magazine before starting Songkick.</p>
                           </div>
                        </div>
                    </div>

                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/mark.jpg" /> 
                            </div>
            
                            <div class="participant-name">Mark Leckey</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Mark Leckey works in sculpture, sound, performance, and video to explore the affective power that objects, images, and brands exert on us, as focal points of desire and identity. Leckey studied at Newcastle Polytechnic and taught as professor of film studies from 2005 to 2009 at the Städelschule Frankfurt am Main. His work has been the subject of many solo showings in the UK and abroad, including at the Walter Phillips Gallery at the Banff Centre (Alberta, Canada, 2012), the Serpentine Gallery (London, 2011), the Institute of Contemporary Arts (London, 2009), the Kölnischer Kunstverein (Cologne, 2008), and a forthcoming exhibition at the Hammer Museum (Los Angeles, 2013). Leckey has also pursued curatorial projects, including The Universal Addressability of Dumb Things (touring throughout the UK, 2013). He was awarded the Turner Prize in 2008.</p>

                                <p>Read an interview with Mark Leckey on Rhizome <a target="_blank" href="http://rhizome.org/editorial/2012/dec/17/mark-leckey/">here</a>.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                         <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/dan.jpg" /> 
                            </div>
            
                            <div class="participant-name">Daniel Williams</div>
            
                            <div class="participant-title gray">&nbsp;</div>
                        
                            <div class="participant-bio">
                                <p>Daniel Williams is a software developer building web apps, mobile apps and physical computing things. His has contributed to numerous art and technology projects independently and through his work as former Creative Technologist at Pervasive Media Studios. He currently lives and works in London.</p>
                           </div>
                        </div>
                    </div>
                 
                 
                
                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/graham.jpg" /> 
                            </div>
            
                            <div class="participant-name">Graham Harwood</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Graham Harwood is a seminal media artist, activist and academic. Together with his long-term collaborator Matsuko Yokokoji (now working together as YoHa), he co founded the artistic collective Mongrel in 1995, who created powerful artworks addressing race, identity and politics. Their collaborative work fuses art, electronic media and street culture, and reaches beyond the hierarchies of power and knowledge to involve those normally excluded from expression and collaboration.</p>

                                <p>Their recent works, which explore the socio-historical context of technology, include the transmediale prize winning project, Tantalum Memorial, and Coal Fire Computers, exhibited at the 2010 AV Festival. Their works have been nominated for a BAFTA award and are affiliated to the permanent collections of the Pompidou Centre Paris and the Centre for Media Arts (ZKM) in Karlsruhe.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                        <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/alberto.jpg" /> 
                            </div>
            
                            <div class="participant-name">Alberto Nardelli</div>
            
                            <div class="participant-title gray">Tweetminster</div>
                        
                            <div class="participant-bio">
                                <p>Alberto Nardelli is Co-founder &amp; CEO of Tweetminster, a media platform that dynamically analyses and monitors networks of influencers and experts on Twitter to aggregate relevant news stories, identify trends and provide insight around any topic, industry or market. Tweetminster's core product is electionista, a service following and tracking politics, elections and political trends in over 100 countries. He is also the former CEO of UnLtdWorld.com, the online platform for social entrepreneurs, acquired in March 2011 by Guardian News and Media. 

                                <p>Nardelli occasionally advises governments and media organisations on strategic communications and social media. He has made numerous media appearances, including BBC Daily Politics, GMTV, the Sky News newspaper review and Radio 5 live. He holds an MA in Media and Communication Studies and a BA in Political Science.</p>
                           </div>
                        </div>
                    </div>

                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/aleksandra.jpg" /> 
                            </div>
            
                            <div class="participant-name">Aleksandra Domanović</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Aleksandra Domanović’s work is concerned with the circulation and reception of images and information, particularly as they shift meaning and change register, traversing different contexts and historical circumstances. Her works create strange taxonomies and manic associative chains that poke and prod at copyright laws, unpack the geopolitical implications of web domains, or explore, for instance, the model of exhibitions (the co-creation of the collaborative exhibition platform vvork.com).</p>

                                <p>Most recently, Domanović has turned her attention to the complex ways in which image culture and information flows have formed the postwar environment of former Yugoslavia. Whether investigating the phenomenon of what she dubs ‘Turbo Sculpture’ — monumental statues of American celebrities and movie characters like Bruce Lee, Johnny Depp, and Rocky Balboa, that have been erected across the former Yugoslavia — or constructing modest steles out of printer paper emblazoned with digital distortions of images from pre- and postwar life, or making semi-autobiographical forays into a rave scene that united the youth of the balkanized Yugoslavian territory, Domanović addresses the ways in which we attempt to heal the wounds of history through conviviality and denial.</p>

                                <p>Read about Aleksandra Domanović's work on Rhizome <a target="_blank" href="http://rhizome.org/editorial/2008/jul/31/interview-with-aleksandra-domanovic/">here</a>, and <a target="_blank" href="http://rhizome.org/editorial/2011/oct/31/artist-profile-aleksandra-domanovic/">here</a>.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                        <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/smari.jpg" /> 
                            </div>
            
                            <div class="participant-name">Smári McCarthy</div>
            
                            <div class="participant-title gray">International Modern Media Institute</div>
                        
                            <div class="participant-bio">
                                <p>Smári McCarthy is an Icelandic/Irish innovator and information activist. He is executive director of the International Modern Media Institute, a co-founder and board member of the Icelandic Digital Freedoms Society (FSFÍ) and a participant in theGlobal Swadeshi movement. He is a founding member of the Icelandic Pirate Party. and stood as their lead candidate in Iceland's southern constituency in the 2013 parliamentary elections. He was the spokesperson and one of the organizers of the Icelandic Modern Media Initiative.</p>

                                <p>McCarthy has spoken at numerous conferences, such as Oekonux, FSCONS, Internet at Liberty and SHARE, as well as having lectured at various universities and summer schools. Common themes include direct or electronic democracy, press freedoms, a critique of industrialization as a centralizing force, and the culture of the Internet.</p>

                                <p>McCarthy proposed the Shadow Parliament Project, a project intending to "crowdsource democracy". The project launched Skuggaþing (Icelandic for "shadow parliament") in early 2010. In 2012 he started the wasa2il software project in order to address shortcomings with existing implementations of Liquid Democracy.</p>
                           </div>
                        </div>
                    </div>

                   
                    
                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/cecile.jpg" /> 
                            </div>
            
                            <div class="participant-name">Cécile B. Evans</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Cécile B. Evans is a Belgian American artist based in Berlin, She is the 2012 recipient of the Emdash Award which resulted in a commissioned work for the Frieze Art Fair in London. She is also the 2013 recipient of the PYA Prize, which will result in the production and exhibition of a new video work at the Palais de Tokyo (Paris). She participated in the Serpentine Gallery’s Sturtevant Study Day this July and is an artist in residence at the Wysing Arts Centre (UK) in the fall. Recent exhibitions have included Palazzo Peckham, performance at Palais de Tokyo Contemporary Art Museum (Paris), a solo presentation for PAMI with Son Gallery, How to Eclipse the Light curated by Karen Archey, Wilkinson Gallery (London), Spencer Brownstone Gallery (NY, Solo), Bergen Art Museum (NO), 319 Scholes (NY), De Joode &amp; Kamutzki Auction (Berlin), and ReMap3 (Athens).<p>

                                <p>Read about Cécile B. Evans’s work on Rhizome <a target="_blank" href="http://rhizome.org/editorial/2012/aug/14/artist-profile-cecile-b-evans/">here</a>.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                        <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/alice.jpg" /> 
                            </div>
            
                            <div class="participant-name">Alice Bartlett</div>
            
                            <div class="participant-title gray">BERG</div>
                        
                            <div class="participant-bio">
                                <p>Alice Bartlett is a Creative Technologist at BERG, a London-based design studio specialising in hands-on work with companies to research and develop their technologies and strategy, through networks and physical things. In 2011 BERG created Little Printer, the first in their family of smart products.</p>

                                <p>Bartlett graduated from the University of York in 2009 with a BSc in Computer Science. Between 2006 and 2009 she did four placements at IBM working in Java Test, CICS, Pervasive messaging and Emerging Technology Services. Upon graduating, Alice joined FT Labs, where she worked on various projects including the Financial Times Android app, blogs platform and HTML5 app, and joined BERG in 2011.</p>
                           </div>
                        </div>
                    </div>
                    

                     <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/haroon.jpg" /> 
                            </div>
            
                            <div class="participant-name">Haroon Mirza</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Haroon Mirza (born 1977, London) is a British artist. Mirza combines a variety of readymade and time based material to create audio compositions, which are often realised as site-specific installations. In doing so, Mirza complicates the distinctions between noise, sound and music, and alters the function and meaning of everyday objects and socio-cultural constructs. He is represented by Lisson Gallery, London.</p>

                                <p>Mirza recently launched a website 0-0-0-0.co.uk which invites artists and musicians to download audio samples from his work, remix them, and then upload them back to the site via Sound Cloud. The site features new essays by Edwin Heathcote, Niru Ratnam, David Toop, Ossian Ward and Emma Warren.</p>

                                <p>Forthcoming solo shows for 2014 will be at Le Grande Café, Centre d'Art Contemporain, France (Jan-Apr) and the Irish Museum of Modern Art (Mar-May).</p>

                                <p>Mirza won the Daiwa Art Foundation Prize (2012) which led to his residency at SCAI THE BATHHOUSE (Jan 2013), and in addition was awarded the Silver Lion Award at the 54th Venice Biennale Illuminations (2011), and the Northern Art Prize (2010). He holds an MA in Fine Art from Chelsea College of Art and Design, and an MA in Critical Practice and Theory from Goldsmiths, University of London.</p>

                                <p>Read about Haroon Mirza's work on Rhizome <a target="_blank" href="http://rhizome.org/editorial/2012/feb/16/artist-profile-haroon-mirza/">here</a>.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                        <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013_london/img/participants/ryder.jpg" /> 
                            </div>
            
                            <div class="participant-name">Ryder Ripps</div>

                            <div class="participant-title gray">OKFocus</div>
                        
                            <div class="participant-bio">
                                <p>Ryder Ripps is an entrepreneur and conceptual artist and working in NYC and around the internet. He is the Creative Director of the technology driven creative agency, OKFocus. He is the co-founder of the real-time image sharing platform, <a href="http://dump.fm">dump.fm</a>. Other past projects include Internet Archaeology, LuCkyPlop and #HDBOYZ. Ripps is also a model for Sean "Diddy" Comb's Sean John Clothing company.</p>

                                <p>
                                    SEVEN THINGS YOU DONT KNOW ABOUT RYDER RIPPS:<br /><br />

                                    1. HE KEEPS A BOX OF CRAYONS ON HIS DESK.<br />
                                    2. HE COLLECTS STOCKS FROM DOT COM COMPANIES THAT WENT OUT OF BUSINESS.<br />
                                    3. HE DOES HIS OWN LAUNDRY.<br />
                                    4. HE THINKS TERRY RICHARDSON IS WACK.<br />
                                    5. HE HAS REALLY BAD ACID REFLEX.<br />
                                    6. HE IS REALLY GOOD AT CSS.<br />
                                    7. HE LOVES HIS PARENTS.
                                </p>
                           </div>
                        </div>
                    </div>
                </div>

                <div id = "tickets">
                    <a id="tickets" target="_blank" href="http://www.barbican.org.uk/education/event-detail.asp?ID=15370">Purchase Tickets</a>
                </div>
                
                <div id = "social">
                    <div id = "social-section">
                        <div class="fb-like" data-href="http://rhizome.org/sevenonseven/" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>
                        
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rhizome.org/sevenonseven" data-via="rhizomedotorg" data-lang="sv" data-related="rhizomedotorg" data-hashtags="sevenonseven">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
                <div class="text-right">
                    <!-- <span class="gray interpreter">This event will be sign language interpreted</span> -->
                    <div id="documentation">
                    <a class="blue" href="{% url 'sevenonseven_past' %}">
                    Documentation of previous Seven on Seven conferences
                    <img class="icon" src="{{ STATIC_URL }}sevenonseven_2013_london/img/video_icon.png" />
                </div>
                </a> 
                </div>

            </div><!--end middleblock wrap-->

        </div>

        <div class="clear"></div>
        <div class="footer">

            <div class="logo-section" id="partners">
                <div class="sponsors-header">Organized By</div>
                <a target="_blank" href="http://rhizome.org/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2013_london/img/sponsors/rhizome.png" />
                </a>
                <a target="_blank" href="http://www.barbican.org.uk">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2013_london/img/sponsors/barbican.png" />
                </a>
            </div>

            <div class="logo-section" id="sponsors">
                <div class="sponsors-header">Conference Partners</div>
                <a target="_blank" href="http://www.wk.com/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2013_london/img/sponsors/w+k.png" />
                </a>
                <a target="_blank" href="http://betaworks.com/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2013_london/img/sponsors/betaworks.png" />
                </a>
                <a target="_blank" href="http://www.artscouncil.org.uk/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2013_london/img/sponsors/arts_council_england.jpg" />
                </a>
                <a target="_blank" href="http://www.fact.co.uk/">
                    <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2013_london/img/sponsors/fact.png" />
                </a>
            </div>    

            <div class="logo-section" id="hotel-sponsors">
                <div class="sponsors-header">Official Hotel Partner</div>
                 <a target="_blank" href="http://www.southplacehotel.com/">
                    <img class="sponsor-img float-right" src="{{ STATIC_URL }}sevenonseven_2013_london/img/sponsors/south-place-hotel_200.jpg" />
                 </a>
            </div>

<!--             <a class="press-tickets" target="_blank" href="http://www.tfaforms.com/273797">request press tickets</a>  
 -->        </div>
    </div>


    <script src="{{ STATIC_URL}}sevenonseven_2013_london/js/mootools-core-1.3.1-full-compat-yc.js"></script>
    <script src="{{ STATIC_URL}}sevenonseven_2013_london/js/mootools-more-1.3.2.1.js"></script>
    <script src="{{ STATIC_URL}}sevenonseven_2013_london/js/PeriodicalExecuter.js"></script>
    <script src="{{ STATIC_URL}}sevenonseven_2013_london/js/Carousel.js"></script>

    <script type="text/javascript">    
        window.addEvent("domready", function(){
			var links = $$('.participants-list a');
            var carousel = new Carousel.Extra({
                container: 'participants',
                activeClass: 'selected',
                distance: 1,
                mode: 'horizontal', 
                tabs:links,
                interval: 20,
                scroll: 1,
                distance: 1,
                circular: true,
                fx: {
                    duration: 400,
                    transition: Fx.Transitions.Quart.easeInOut
                }
            });
            $('column2').setStyle('visibility','visible');
        });
    </script>
    
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
 
    <script type="text/javascript">
        var _gaq=[['_setAccount','UA-768502-3'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    
    <script type="text/javascript">
        var _sf_async_config={uid:26954,domain:"rhizome.org"};
        (function(){
          function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src',
               (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
               "js/chartbeat.js");
            document.body.appendChild(e);
          }
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
             loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>        


</body>
</html>
