<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rhizome's Seven On Seven Conference | Saturday, April 20th 2013</title>
    <meta name="description" content="Presented by HTC, the Rhizome Seven on Seven Conference pairs seven leading artists with seven influential technologists in teams of two, and challenges them to develop something new&#x2014;be it an application, social media, artwork, product, or whatever they imagine&#x2014;over the course of a single day.
">
    <meta name="viewport" content="width=1000">
    <link rel="stylesheet" href="{{ STATIC_URL}}sevenonseven_2013/css/2013.css">
</head>

<body>
    <div role="main" id="content">
    
        <div class="column" id="column1">

            <div class="section-full">
                <img id = "main-logo" width="300" src = "{{ STATIC_URL }}sevenonseven_2013/img/7on7_logo-2012.png">
            </div>
                    
            <div class="section center">
                <h1>Saturday, April 20th, 2013</h1>
                <h2>12-6pm at Tishman Auditorium at The New School</h2>
            </div>
            
            <div id ="description" class="section left">
                Presented by <a href="http://www.htc.com/"><b>HTC</b></a>, the Rhizome Seven on Seven Conference pairs seven leading artists with seven influential technologists in teams of two, and challenges them to develop something new&#x2014;be it an application, social media, artwork, product, or whatever they imagine&#x2014;over the course of a single day.
            </div>
            
<!--             <div class="section left">
                <h5 class="gray">Conference Schedule:</h5>
                <div><span class="float-left gray">12pm</span><span class="float-right">Keynote Address</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">12:30 - 2pm</span><span class="float-right">Presentations</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">2 - 2:30pm</span><span class="float-right">Lunch</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">3 - 6pm</span><span class="float-right">Presentations Cont'd</span></div>
                <div class="clear"></div>
                <div><span class="float-left gray">6:30 - 9pm</span><span class="float-right">After-party at the New Museum</span></div>
                <div class="clear"></div>
            </div>
 -->
           
        <div id="participants-list" class="section blue left">2013 PARTICIPANT TEAMS</div>
            <div class="section left participants">
                <ul class="participants-list">
                    <a href="#0">
                        <li><span class="left-col">Jill Magid</span> + Dennis Crowley</li>
                    </a>
                    <a href="#1">
                        <li><span class="left-col">Fatima Al Qadiri</span> + Dalton Caldwell</li>
                    </a>
                    <a href="#2">
                        <li><span class="left-col">Matthew Ritchie</span> + Billy Chasen</li>
                    </a>
                    <a href="#3">
                        <li><span class="left-col">Cameron Martin</span> + Tara Tiger Brown</li>
                    </a>
                    <a href="#4">
                        <li><span class="left-col">Paul Pfeiffer</span> + Alex Chung</li>
                    </a>
                    <a href="#5">
                        <li><span class="left-col">Jeremy Bailey</span> + Julie Uhrman</li>
                    </a>
                    <a href="#6">
                        <li><span class="left-col">Rafael Lozano-</span> + Harper Reed</li>
                        <li><span class="left-col">Hemmer</span></li>
                    </a>
                </ul>
                <!--<h5 class="gray">FULL LIST OF PARTICIPANTS WILL BE ANNOUNCED MARCH 19 - GET YOUR EARLY BIRD TICKETS NOW</h5>-->
            </div>
            <div class="section left keynote">
                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/evgeny_morozov.jpg.70x70_q95_crop-15,0.jpg" /> 
                <h2>Keynote Speaker:</h2>
                <h3>Evgeny Morozov</h3>
                <p>author of 'The Net Delusion' and 'To Save Everything, Click Here'</p>
            </div>
            <div class="section moderate">
                Moderated by John Michael Boling<br />
            </div>
        </div>
        
        <div class="column" id="column2">
            <div id = "middleblock-wrap">
                <div id = "participants">
                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/jill_magid.jpg.270x320_q95_crop-44,20.jpg" /> 
                            </div>
            
                            <div class="participant-name">Jill Magid</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Jill Magid is a New York based artist who forms intimate relationships with systems of power including police, secret service, CCTV and forensic identification. She received her Masters of Science in Visual Arts at MIT and BFA from Cornell University. She has had solo shows at Tate Modern, the Whitney Museum of American Art, Berkeley Museum of Art, Tate Liverpool, Stedelijk Museum Bureau Amsterdam, Gagosian Gallery, Sparwasser, The Centre D’Arte Santa Monica and Stroom.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                        <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/dennis_crowley.jpg.270x320_q95_crop--10,25.jpg" />
                            </div>
            
                            <div class="participant-name">Dennis Crowley</div>
            
                            <div class="participant-title gray">Foursquare</div>
                        
                            <div class="participant-bio">
                                <p>Dennis Crowley is the co-founder of foursquare, a service that combines social networks, location awareness and game mechanics to encourage people explore the world around them. Previously, he founded dodgeball.com, one of the first mobile social services in the US, which was acquired by Google in 2005. He has been named one of Fortune's 40 Under 40 a member of Vanity Fair's New Establishment, and has won the Fast Money bonus round on the TV game show Family Feud. He is currently an Adjunct Professor at NYU's Interactive Telecommunications Program (ITP).</p>
                           </div>
                        </div>
                    </div>
                     <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/fatima_alqadiri.jpg.270x320_q95_crop--0,0.jpg" /> 
                            </div>
            
                            <div class="participant-name">Fatima Al Qadiri</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Fatima Al Qadiri is a New York-based Kuwaiti visual artist and composer. She has performed and exhibited at the Tate Modern (part of K48 Kontinuum), MoMA PS1, Gwangju Design Biennale, Art Dubai and The Third Line. Al Qadiri is a contributing editor at DIS Magazine and contributor to Bidoun. She has produced music as a solo act under her name and as Ayshay.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                        <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/dalton_caldwell.jpg.270x320_q95_crop--30,35.jpg" />
                            </div>
            
                            <div class="participant-name">Dalton Caldwell</div>
            
                            <div class="participant-title gray">App.net</div>
                        
                            <div class="participant-bio">
                                <p>Dalton Caldwell is the CEO and co-founder of App.net, an ad-free social platform and API. App.net aims to be the backbone of the social web. App.net provides infrastructure developers can use to build applications and that members can use for meaningful interactions. Previously, he founded the music-sharing service imeem in 2003, serving as CEO until its acquisition by MySpace in 2009. He graduated with honors from Stanford University in 2003 with a B.S. in Symbolic Systems and B.A. in Psychology.</p>
                           </div>
                        </div>
                    </div>
                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/matthew_ritchie.jpg.270x320_q95_crop--0,.jpg" /> 
                            </div>
            
                            <div class="participant-name">Matthew Ritchie</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Matthew Ritchie’s installations integrate painting, wall drawings, light boxes, performance sculpture, and projections, are investigations of the idea of information; explored through science, architecture, history and the dynamics of culture, defined equally by their range and their lyrical visual language. In 2001, Time magazine listed Ritchie as one of 100 innovators for the new millennium, for exploring “the unthinkable or the not-yet-thought.” His work has been shown in numerous exhibitions worldwide including the Whitney Biennial, the Sydney Biennial, the Sao Paulo Bienniale, the Venice Architecture Biennale, the Seville Biennale and the Havana Biennale.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                        <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/billy_chasen.jpg.270x320_q95_crop--10,25.jpg" />
                            </div>
            
                            <div class="participant-name">Billy Chasen</div>

                            <div class="participant-title gray">turntable.fm</div>
                        
                            <div class="participant-bio">
                                <p>Billy Chasen is an American artist and software developer. He is the founder and CEO of turntable.fm, a social media website that allows users to share music in an interactive chat rooms that gained 140,000 active users within two months of launching. Prior to turntable, Chasen founded chartbeat, a real-time analytics service and firef.ly, a chat service.</p>
                           </div>
                        </div>
                    </div>
                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/cameron_martin.jpg.270x320_q95_crop-0,10.jpg" /> 
                            </div>
            
                            <div class="participant-name">Cameron Martin</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Cameron Martin is an artist who lives in Brooklyn, New York.  His paintings and drawings have been shown internationally. In addition to solo shows at galleries in the United States, Japan and Europe, he has had one-person exhibitions at the Saint Louis Art Museum and the Philbrook Museum of Art in Tulsa, Oklahoma. He has participated in numerous group exhibitions, including the 2004 Whitney Biennial, and Roundabout at the City Gallery Wellington, New Zealand which traveled to traveled to the Tel Aviv Museum. He has received several awards including a Joan Mitchell Foundation Grant in 2008 and a Guggenheim Fellowship in 2010. His work is in many museum collections, including the Albright Knox Art Gallery, the Cleveland Museum of Art, the Seattle Art Museum, and the Whitney Museum of American Art.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                         <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/tara_tiger_brown.jpg.270x320_q95_crop--10,0.jpg" />
                            </div>
            
                            <div class="participant-name">Tara Tiger Brown</div>
            
                            <div class="participant-title gray">LA Makerspace</div>
                        
                            <div class="participant-bio">
                                <p>Tara Tiger Brown is the founder of the LA Makerspace, a kid friendly hackerspace and Represent.la to help connect and promote the Los Angeles tech startup community. She currently serves as Technology Director for the Digital Media and Learning Research Hub, Connected Learning Cooperative and Advisor to Born This Way Foundation. Brown has held every job title available in the software industry at numerous institutions and companies including USC, UC Irvine, Shazam, Topspin, and Microsoft. She has been known to blog on Forbes stating her sometimes unpopular opinions on geek culture and was recently named a Los Angeles "Power Mom."</p>
                           </div>
                        </div>
                    </div>
                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/paul_pfeiffer.jpg.270x320_q95_crop-0,10.jpg" /> 
                            </div>
            
                            <div class="participant-name">Paul Pfeiffer</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Paul Pfeiffer is a sculptor, photographer and video artist whose meticulous and time-consuming work incorporates new technologies to examine the role of mass media in society. He studied at the San Francisco Art Institute and Hunter College in New York. He participated in the Whitney Biennial in 2000 and the 49th Venice Biennale. He received the inaugural Backabaum Award, the Alpert Award and the recipient of the Guna S. Mundheim Prize. In 2002, Pheiffer was the artist-in-residence at Massachusetts Institute of Technology and at ArtPace in San Antonio, Texas.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                         <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/alex_chung.png.270x320_q95_crop--10,0.jpg" />
                            </div>
            
                            <div class="participant-name">Alex Chung</div>
            
                            <div class="participant-title gray">Giphy</div>
                        
                            <div class="participant-bio">
                                <p>Alex Chung is a creative technology director living in NYC.  He is currently making Giphy, a animated .gif search engine, TxtPals, IOU, and is a Hacker in Residence at Betaworks. Previously he made Artspace, The Fridge, MTV Music, managed future technology programs for Paul Allen's R&D lab, and was one of the early architects of interactive television. He has degrees in philosophy, electrical/computer engineering, and graphic design and teaches brazilian jiu jitsu in NYC.</p>
                           </div>
                        </div>
                    </div>
                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/jeremy_bailey.jpg.270x320_q95_crop-0,10.jpg" /> 
                            </div>
            
                            <div class="participant-name">Jeremy Bailey</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Jeremy Bailey is a Toronto-based Famous New Media Artist whose work explores custom software in a performative context. His work is often “confidently self-deprecating in offering hilarious parodies of new media vocabularies" (Marisa Olson, Rhizome). Recent projects include performances and exhibitions for Transmediale, Abandon Normal Devices, the Stedelijk Museum, FACT, Tate Liverpool and the New Museum.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                        <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/julie_uhrman.png.270x320_q95_crop--10,10.png" />
                            </div>
            
                            <div class="participant-name">Julie Uhrman</div>
            
                            <div class="participant-title gray">Ouya</div>
                        
                            <div class="participant-bio">
                                <p>Julie Uhrman is a video game entrepreneur. She is founder and CEO of OUYA – an innovative gaming console that enables any developer to publish and console game by bringing the mobile app model to the TV. OUYA is a powerful, beautifully designed, open and inexpensive alternative to traditional game consoles. She started in the game business ten years ago. Before launching OUYA, she held several executive roles with video game companies such as GameFly, Vivendi Universal, and IGN where she led digital distribution and business development.</p>
                           </div>
                        </div>
                    </div>
                    <div class="participant">
                        <div class="artist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/rafael_lozano-hemmer.jpg.270x320_q95_crop-60,10.jpg" /> 
                            </div>
            
                            <div class="participant-name">Rafael Lozano-Hemmer</div>
            
                            <div class="participant-title gray">Artist</div>
                        
                            <div class="participant-bio">
                                <p>Rafael Lozano-Hemmer is a Mexican-Canadian artist. Recently the subject of solo exhibitions at the San Francisco Museum of Modern Art, the Fundación Telefónica in Buenos Aires and the Museum of Contemporary Art in Sydney, he was the first artist to officially represent Mexico at the Venice Biennale with an exhibition at Palazzo Van Axel in 2007. He has also shown at Biennials in Havana, Istanbul, Liverpool, Montréal, Moscow, New Orleans, Panama, Seoul, Seville, Shanghai, Singapore and Sydney. His work is in collections such as MoMA in New York, Jumex in Mexico, Daros in Zürich and Tate Modern in London.</p>
                           </div>
                        </div>
                        <span class="plus">+</span>
                        <div class="technologist">
                            <div class="participant-image">
                                <img src="{{ STATIC_URL }}sevenonseven_2013/img/participants/harper_reed.jpg.270x320_q95_crop-35,30.jpg" />
                            </div>
            
                            <div class="participant-name">Harper Reed</div>
            
                            <div class="participant-title gray">Obama for America</div>
                        
                            <div class="participant-bio">
                                <p>Harper Reed is a hacker and engineer who builds paradigm-shifting tech and leads others to do the same. Harper loves using the enormity of the Internet to bring people together, whether as CTO of Obama for America, CTO at Threadless.com, or on his own projects. Harper and his team created Dashboard, a site that connects volunteer teams and acts as an online component of the field office. You can often find Harper playing with new technology, looking for something to hack, or enjoying life in Chicago with his amazing wife, Hiromi.</p>
                           </div>
                        </div>
                    </div>
                </div>

                <div id = "tickets">
                    <a id="tickets" target="_blank" href="http://sevenonseven.eventbrite.com/">Purchase Tickets</a>
                </div>
                
                <div id = "social">
                    <div id = "social-section">
                        <div class="fb-like" data-href="http://rhizome.org/sevenonseven/" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>
                        
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rhizome.org/sevenonseven" data-via="rhizomedotorg" data-lang="sv" data-related="rhizomedotorg" data-hashtags="sevenonseven">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
                <div class="text-right">
                    <span class="gray interpreter">This event will be sign language interpreted</span>
                </div>

            </div><!--end middleblock wrap-->

        </div>
        <div class="clear"></div>
        <div class="footer">
            <div id="partners">
                <div id="partners-header" class="htc">PRESENTING SPONSOR</div>
                <div id="partners-logos">
                    <a href="http://www.htc.com/">
                        <img width="160" src ="{{ STATIC_URL }}sevenonseven_2013/img/HTC_Logo_new.png" />
                    </a>
                </div>
            </div>

            <div id="sponsors">
                <div id="sponsors-header">Conference Partners</div>

                <div id ="sponsors-logos">
                    <a href="http://betaworks.com/">
                        <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2013/img/sponsors/betaworks_110.png" />
                    </a>
                    <a href="http://news.yahoo.com/">
                        <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2013/img/sponsors/yahoo_news_110.png" />
                    </a> 
                    <a href="http://www.wk.com/">
                        <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2013/img/sponsors/w+k_110.png" />
                    </a> 
                    <a href="http://www.rre.com/">
                        <img class="sponsor-img" src="{{ STATIC_URL }}sevenonseven_2013/img/sponsors/rre_110_narrow.png" />
                    </a>
                    <div class="small-container">
                         <a href="http://www.engadget.com/">
                            <img class="sponsor-img small" src="{{ STATIC_URL }}sevenonseven_2013/img/sponsors/engadget_60.png" />
                        </a>
                        <a href="http://www.theboweryhotel.com/">
                            <img class="sponsor-img small" src="{{ STATIC_URL }}sevenonseven_2013/img/sponsors/bowery_hotel_90.png" />
                        </a>
                    </div>
                </div>
            </div>    
              <div id="documentation"> 
                <a class="blue" href="{% url 'sevenonseven_past' %}">
                    Documentation of previous Seven on Seven conferences
                    <img class="icon" src="{{ STATIC_URL }}sevenonseven_2013/img/video_icon.png" />
                </a>                    
            </div>
<!--             <a class="press-tickets" target="_blank" href="http://www.tfaforms.com/273797">request press tickets</a>  
 -->        </div>
    </div>


    <script src="{{ STATIC_URL}}sevenonseven_2013/js/mootools-core-1.3.1-full-compat-yc.js"></script>
    <script src="{{ STATIC_URL}}sevenonseven_2013/js/mootools-more-1.3.2.1.js"></script>
    <script src="{{ STATIC_URL}}sevenonseven_2013/js/PeriodicalExecuter.js"></script>
    <script src="{{ STATIC_URL}}sevenonseven_2013/js/Carousel.js"></script>

    <script type="text/javascript">    
        window.addEvent("domready", function(){
			var links = $$('.participants-list a');
            var carousel = new Carousel.Extra({
                container: 'participants',
                activeClass: 'selected',
                distance: 1,
                mode: 'horizontal', 
                tabs:links,
                interval: 20,
                scroll: 1,
                distance: 1,
                circular: true,
                fx: {
                    duration: 400,
                    transition: Fx.Transitions.Quart.easeInOut
                }
            });
            $('column2').setStyle('visibility','visible');
        });
    </script>
    
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
 
    <script type="text/javascript">
        var _gaq=[['_setAccount','UA-768502-3'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    
    <script type="text/javascript">
        var _sf_async_config={uid:26954,domain:"rhizome.org"};
        (function(){
          function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src',
               (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
               "js/chartbeat.js");
            document.body.appendChild(e);
          }
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
             loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>        


</body>
</html>
