<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Seven on Seven 2014</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}/sevenonseven_2014/css/sevena.css"> 
  <!-- <link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'> -->
</head>   

  <body>



  <div class="header">
   <img src="{{ STATIC_URL }}/sevenonseven_2014/img/seven-on-seven-big-logo.png"> 

    <div class="nav">
      <ul>
        <li><a href="#team-1">Participants</a></li>
        <li><a href="#keynote">Keynote</a></li>
        <li><a href="#info">Info</a></li>
        <li><a href="#partners">Partners</a></li>
        <li>5TH ANNIVERSARY</li>
      </ul>
    </div>
  </div>

    
    <div class="date-wrap">
       <div class="tickets"><a href="http://www.newmuseum.org/calendar/view/rhizome-s-seven-on-seven-fifth-anniversary-edition"><div class="button">PURCHASE TICKETS</div></a></div>    
      <div class="date">
      <h1>MAY 3, 2014</h1>
      <h3>12—6PM / NEW MUSEUM</h3>
      </div>
  
    </div>


<div class="info">
    Presented by <strong><a href="http://rhizome.org" target="_blank">Rhizome</a></strong>, the Seven on Seven conference
    pairs seven leading artists with seven influential technologists in teams of two, and challenges them to develop something new–whatever they choose to imagine—over the course of a single day.<br><br>
    <strong>Artists:</strong> Kari Altmann, Ian Cheng, Simon Denny, Holly Herndon, Kevin McCoy, Hannah Sawtell, and Frances Stark.<br><br>
    <strong>Technologists</strong>: Nick Bilton, Anil Dash, Jen Fong-Adwent, David Kravitz, Aza Raskin, Kate Ray and Avi Flombaum. Keynote by Kate Crawford.
    </div>   
    <div class="floatstop"></div>
    
    <div class="team-wrap">
      <a class="pair" href="#team-1">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Avi-Flombaum.jpg"><br>
        <div class="label">Avi Flombaum</div>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Hannah-Sawtell.jpg">
        <div class="label">Hannah Sawtell</div>
      </a>
      <a class="pair" href="#team-2">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/David-Kravitz.jpg"><br>
        <div class="label">David Kravitz</div>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Frances-Stark.jpg">
        <div class="label">Frances Stark</div>
      </a>
      <a class="pair" href="#team-3">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kate-Ray.jpg"><br>
        <div class="label">Kate Ray</div>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Holly-Herndon.jpg">
        <div class="label">Holly Herndon</div>
      </a>
      <a class="pair" href="#team-4">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Aza-Raskin.jpg"><br>
        <div class="label">Aza Raskin</div>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kari-Altmann.jpg">
        <div class="label">Kari Altmann</div>
      </a>
      <a class="pair" href="#team-5">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Nick-Bilton.jpg"><br>
        <div class="label">Nick Bilton</div>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Simon-Denny.jpg">
        <div class="label">Simon Denny</div>
      </a>
      <a class="pair" href="#team-6">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Jen-Fong-Adwent.jpg"><br>
        <div class="label">Jen Fong-Adwent</div>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Ian-Cheng.jpg">
        <div class="label">Ian Cheng</div>
      </a>
      <a class="pair" href="#team-7">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Anil-Dash.jpg"><br>
        <div class="label">Anil Dash</div>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kevin-McCoy.jpg">
        <div class="label">Kevin McCoy</div>
      </a>
        <div class="floatstop"></div>
     </div>

  <div class="body-wrap">   
   <br>
    <br>
   
    <div id="team-1" class="team">
      <h2>Avi Flombaum &amp; Hannah Sawtell</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Avi-Flombaum.jpg">
        <p><span class="name">Avi Flombaum</span> is founder of The Flatiron School. His career began at 16 when he worked for an NYC startup, cityfeet.com. At 20, he was the CTO of a hedgefund. Then he started a site called designerpages.com. He organizes one of the largest Rails meetups in the world, NYC on Rails. Over the past few years, he's taught Ruby to over 500 people, and loves sharing his passion for code with people.</p>
      </div>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Hannah-Sawtell.jpg">
      <p><span class="name">Hannah Sawtell</span> is an artist who lives and works in London. She has worked with video, digital image, sculptural installation, printed matter, industrial design, performance and noise. In 2012, Sawtell's linked solo exhibitions, 'Osculator' at the ICA and 'Vendor' at Bloomberg Space, London, considered new technologies of accumulated surplus, valorization and access.  Other solo shows include Vilma Gold, London and Clocktower Gallery, New York. Her exhibition ACCUMULATOR, on view at the New Museum 04/23/14 – 06/22/14, is her first USA museum solo show. .</p>
      </div>
    </div>

    <div id="team-2" class="team">
      <h2>David Kravitz &amp; Frances Stark</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/David-Kravitz.jpg"><br>
        <p><span class="name">David Kravitz</span> is a software engineer and one of the first developers behind the photo-messaging app Snapchat. He almost has a degree in computer science from Stanford University (just 3 credits left). When he's not working on Snapchat, you can find him playing jazz piano and writing comedy. He currently resides in Los Angeles, California.</p>
      </div>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Frances-Stark.jpg">
      <p><span class="name">Frances Stark</span> is a Los Angeles-based artist working in multiple media – from works on paper to performance – examining "the conditions of creative labor," and highlighting the aspects of artistic production that are less frequently acknowledged. Stark's work has been exhibited extensively, including in solo shows at MoMA PS1 and the Van Abbemuseum in Eindoven, as well as notable group exhibitions such as the 2008 Whitney Biennial and the 54th Venice Biennale in 2011. In 2011, she was also commissioned to create a new work for Performa 11. She received her M.F.A. in 1993 from Art Center College of Design.</p>
      </div>
    </div>

    <div id="team-3" class="team">
      <h2>Kate Ray &amp; Holly Herndon</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kate-Ray.jpg"><br>
        <p><span class="name">Kate Ray</span> is the cofounder of Scroll Kit, an intuitive web creation tool that allows those who lack coding knowledge to tell powerful visual stories online. She also created Alongside.co, a visualization of your relationships based on Foursquare checkins. She wants more people to cry in front of their computer screens, and builds technology that helps people connect with each other and express themselves.</p>
       </div>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Holly-Herndon.jpg">
      <p><span class="name">Holly Herndon</span> is an artist currently based in San Francisco, California. As well as touring the world to perform and exhibit new work, she is currently candidate for doctoral study in Computer Music at Stanford University. She received her MFA in Electronic Music and Recording Media at Mills College under the guidance of John Bischoff, James Fei, Maggi Payne, and Fred Frith. While at Mills she won the Elizabeth Mills Crothers award for Best Composer in 2010 for her vocal generated piece ’195′.</p>
      </div>
    </div>

    <div id="team-4" class="team">
      <h2>Aza Raskin &amp; Kari Altmann</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Aza-Raskin.jpg"><br>
         <p><span class="name">Aza Raskin</span> is an interface designer and the Vice President of Jawbone, a San Francisco-based company that creates and sells wearable technology and portable devices. Originally from California, Raskin gave his first talk on user interfaces at the age of 10. He is founder of the music streaming community Songza, and has developed various projects for the Mozilla Corporation. He holds a double degree in mathematics and physics from the University of Chicago. His other projects include Massive Health, Algorithm Ink and Bloxes, a cardboard furniture startup that was acquired by Amazon.</p>
       </div>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kari-Altmann.jpg">
      <p><span class="name">Kari Altmann</span> is an artist focused on cultural technology, aggregation, and mistranslation as they relate to all mediums, from images to social networks to sculptures and back again. Her output often exists as new genres and microcultures, which she calls "startups" and "teams", and tracks through her own content management system as they move faster than art product or identity can keep up with. She is one of the most influential artists in the currently titled 'post-internet' canon. Recent features include a solo online exhibition, Soft Mobility Abstracts, for the New Museum, the Art Post Internet survey at Ullens Center in Beijing, and Brands: Concept, Affect, Modularity at Salts Center in Basel, for which her work was a starting point. She has done projects for and with Art Dubai, The Goethe Institute, The New Museum, Fade2Mind, Rhizome, The Hirshhorn Museum, Mixpak, Gentili Apri, Dis Magazine, Nero Magazine, and many more.</p>
      </div>
    </div>

    <div id="team-5" class="team">
      <h2>Nick Bilton &amp; Simon Denny</h2>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Nick-Bilton.jpg"><br>
       <p><span class="name">Nick Bilton</span> is a journalist and author. He is a columnist and reporter for The New York Times and leads The Times Bits blog. He has published two critically acclaimed books. His second book, Hatching Twitter, chronicles the relationship of the four creators of Twitter during inception, development and rise to prominence. The book was New York Times best seller and was voted Readers' Choice Book of the Year by The Wall Street Journal. Hatching Twitter is presently being turned into a TV series after being acquired by Lionsgate. Bilton's work has been featured in Wired, Engadget, Scientific America, CNet, BBC, Guardian, and dozens of other outlets from around the world. He has acted as an adjunct professor at New York University in the Interactive Telecommunications Program and helped co-found NYC Resistor, a hacker space in Brooklyn, NY.</p>
      </div>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Simon-Denny.jpg">
        <p><span class="name">Simon Denny</span> is a New Zealand artist currently based in Berlin, where his work explores the culture surrounding internet technology firms, the obsolescence of analogue broadcast technology, neoliberal corporate culture, the demise of ‘welfarism’ and contemporary constructions of national identity. In 2012 he was nominated for the Walters Prize (for Introductory Logic Video Tutorial, which premiered at Artspace, Sydney, in 2011) and also won the Baloise Art Prize at Art Basel for his Channel Document project. This year he exhibited The Personal Effects of Kim Dotcom, at MUMOK, Vienna and presented All You Need Is Data: The DLD 2012 Conference Redux at Kunstverein Munich, Petzel Gallery, New York and Hamburger Bahnhof, Berlin. He will represent New Zealand in the 2015 Venice Biennale. Denny is represented by Galerie Buchholz, Cologne/Berlin; Petzel Gallery, New York; T293, Naples/Rome and Michael Lett, Auckland.</p>
       </div>
    </div>

    <div id="team-6" class="team">
      <h2>Jen Fong-Adwent &amp; Ian Cheng</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Jen-Fong-Adwent.jpg"><br>
        <p><span class="name">Jen Fong-Adwent</span> is a coder inspired by the idea of decentralizing the micro-blog. She created Meatspace Chat and has been developing it as an open source project with multiple contributors. Meatspace Chat is a web service where a user can generate a gif of and allows them to post an update with it in 250 words or less.  The Meatspace realm also encompasses Aux, a Youtube and Vimeo video sharing cloud and Meatspace TV, where users can host their own channel and create GIF shows for an online audience of other members.  She also was involved in creating crypt-based message distributor Lexicrypt along with database and authentication-free hosting server The Great Brain. She currently works for Mozilla.</p>
       </div>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Ian-Cheng.jpg">
      <p><span class="name">Ian Cheng</span> (born 1984, Los Angeles) is an artist based in New York. Recent solo exhibitions include La Triennale di Milano, Milan; Baby feat. Bali, Standard (Oslo), Oslo; Frieze Frame, London; Entropy Wrangler, Off Vendome, Dusseldorf; This Papaya Tastes Perfect, Formalist Sidewalk Poetry Club, Miami Beach. Recent group exhibitions include 12th Lyon Biennial, Lyon; Freak Out, Greene Naftali Gallery, New York; ProBio, Expo1, MoMA PS1, New York; DisImages, DIS Magazine, New York; A Disagreeable Object, Sculpture Center, New York. </p>
      </div>
    </div>

    <div id="team-7" class="team">
      <h2>Anil Dash &amp; Kevin McCoy</h2>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Anil-Dash.jpg"><br>
       <p><span class="name">Anil Dash</span> is a New York based entrepreneur and long-time blogger. He is co-founder and CEO of ThinkUp, a new service that helps people get more meaning out of the time they spend on social networks. He is also co-founded Activate, a consultancy that helps companies strategize at the intersection of technology and media.  Dash serves on the board of Stack Exchange, the Data &amp; Society Research, and the New York Tech Meetup.</p>
      </div>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kevin-McCoy.jpg">
        <p><span class="name">Kevin McCoy</span> is an artist working and exhibiting internationally with his partner Jennifer McCoy. His artworks explore changing conditions around social roles, categories, genres and forms of value. His work has adopted many methodological approaches: exhaustive categorization, recreation and reenactment, automation, miniaturization, and most recently, remote viewing and speculative modeling. His artwork is represented by in New York by Postmasters Gallery and in Geneva by Gallerie Guy Bartschi, and can be seen in the collections of the Museum of Modern Art, The Metropolitan Museum of Art, the Milwaukee Art Museum, and MUDAM in Luxembourg. He is an Associate Professor in the Department of Art and Art Professions at NYU.</p>
      </div>
    </div>

    <br>
    <br>
    <div id="keynote" class="team keynote">
      <h2>Keynote : Kate Crawford</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kate-Crawford.jpg">
        <p><span class="name">Kate Crawford</span> is a Principal Researcher at MSR, a Visiting Professor at the MIT Center for Civic Media and a Senior Fellow at NYU's Information Law Institute. She researches social, political and cultural practices with media technologies. Her current project is focused on the politics and ethics of big data, for which she recently received a Rockefeller Foundation Bellagio fellowship.</p>
      </div>
    </div>

    <div id="info" class="team keynote info-block">
      <h2>Info</h2>
      <div class="member">
        <p><span class="name">Seven on Seven</span> is a conference pairing fourteen artists and technologists in teams of two, to make something new. Following a closed-session collaboration day, the teams unveil their creations in presentations at this public event. A provocative keynote kicks off the day. Join us for a critical and creative afternoon, followed by a social evening.</p>
      </div>
    </div>

    <div class="team info-block">
      <div class="member">
        <h2>Schedule</h2>
        <p>
          <strong>11:30am – 12pm:</strong> Registration and exhibition viewing (Hannah Sawtell, ACCUMULATOR)<br>
          <strong>12 – 6pm:</strong> Conference event (with lunch and coffee breaks)<br>
          <strong>6 – 9pm:</strong> Afterparty in the New Museum Sky Room
        </p>
      </div>

      <div class="member">
        <h2>Ticket Price</h2>
        <p>
          <strong>Regular*</strong>: $125<br>
          <strong>VIP*</strong>: $275<br>
          <strong>Limited, reduced-price artist tickets*</strong>: $40<br>
          <strong>Afterparty only</strong>: $20<br>
          *includes afterparty admission<br><br>
          Purchase tickets <a href="http://www.newmuseum.org/calendar/view/rhizome-s-seven-on-seven-fifth-anniversary-edition">here</a><br>
          Limited, reduced-price artist tickets by request <a href="http://www.tfaforms.com/324175">here</a><br>
          Limited press tickets by request <a href="http://www.tfaforms.com/324167">here</a>
        </p>
      </div>
    </div>

    <div class="team info-block">
      <div class="member">
        <h2>Location</h2>
        <p><span class="name">New Museum</span><br>
        235 Bowery (Bowery and Prince)<br>
        New York, NY 10002<br>
      </p>
      </div>
    </div>
    <img src="http://maps.googleapis.com/maps/api/staticmap?size=640x320&markers=size:mid%7Ccolor:red%7CNew%20Museum%20New%20York&sensor=false"/>
  </div>

  <div class="body-wrap footer">
    <div id="partners" class="team keynote partner-block">
      <h2>Organized By</h2>
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Rhizome.png">
    </div>

    <div class="team keynote partner-block">
      <h2>Partners</h2>
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/W+K.png"><br><br>
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Hearst-Corp.png">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/MSR.png">
      <img style="top: 10px;" src="{{ STATIC_URL }}/sevenonseven_2014/img/HKN.png"><br>
      <!-- <img src="{{ STATIC_URL }}/sevenonseven_2014/img/AOL.png"> -->
      <img style="top: 5px;" src="{{ STATIC_URL }}/sevenonseven_2014/img/Betaworks.png">
      <img style="top: 27px;" src="{{ STATIC_URL }}/sevenonseven_2014/img/New-Museum.png">
    </div>

    <div class="team partner-block">
      <!-- <div class="member"> -->
        <h2>Hotel Partner</h2>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Ace-Hotel.png">
      <!-- </div> -->

<!--       <div class="member">
        <h2>Creative Partner</h2>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Jawbone.png">
      </div>
 -->    </div>
    <div class="floatstop"><div>
  </div>

<script src="{{ STATIC_URL }}/sevenonseven_2014/js/jquery.js"></script>
<script src="{{ STATIC_URL }}/sevenonseven_2014/js/jquery.easing.1.3.js"></script>

<script type="text/javascript">
$(document).ready(function() {

  var offset = $('.header').offset().top;
  $(window).scroll(function () { 
    if ($(window).scrollTop() > offset) {
      $('.header').addClass('fixed-top');
    }

    if ($(window).scrollTop() < offset) {
      $('.header').removeClass('fixed-top');
    }
  });

  var scrollHandler = function(event) {
    event.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top - $('.header').outerHeight() }, 600, 'easeOutQuart');
  };

  $('.nav li a').click(scrollHandler);
  $('a.pair').click(scrollHandler);
});


</script>

  </body>
</html>
