<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Seven on Seven 2014</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}/sevenonseven_2014/css/sevena.css"> 
  <!-- <link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'> -->
</head>   

  <body>



  <div class="header">
   <img src="{{ STATIC_URL }}/sevenonseven_2014/img/seven-on-seven-big-logo.png"> 

    <div class="nav">
      <ul>
        <li><a href="#info">Info</a></li>
        <li><a href="#team-1">Participants</a></li>
        <li><a href="#keynote">Keynote</a></li>
        <li><a href="#partners">Partners</a></li>
        <li>5TH ANNIVERSARY</li>
      </ul>
    </div>
  </div>

    
    <div class="date-wrap">
       <div class="tickets"><a href="#"><div class="button">PURCHASE TICKETS</div></a></div>    
      <div class="date">
      <h1>APRIL 20, 2014</h1>
      <h3>12—6PM / NEW MUSEUM</h3>
      </div>
  
    </div>


<div class="info">
    Presented by <a href="http://rhizome.org" target="_blank"><img src="{{ STATIC_URL }}/sevenonseven_2014/img/rhizome_logo.png"></a> the Seven on Seven conference
    pairs seven leading artists with seven influential technologists in teams of two, and challenges them to develop something new–whatever they choose to imagine—over the course of a single day. 
    </div>   
    <div class="floatstop"></div>
    
    <div class="team-wrap">
      <a class="pair" href="#team-1">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Rus-Yusupov.jpg"><br>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Hannah-Sawtell.jpg">
      </a>
      <a class="pair" href="#team-2">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/David-Kravitz.jpg"><br>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Frances-Stark.jpg">
      </a>
      <a class="pair" href="#team-3">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kate-Ray.jpg"><br>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Holly-Herndon.jpg">
      </a>
      <a class="pair" href="#team-4">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Aza-Raskin.jpg"><br>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kari-Altmann.jpg">
      </a>
      <a class="pair" href="#team-5">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Nick-Bilton.jpg"><br>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Simon-Denny.jpg">
      </a>
      <a class="pair" href="#team-6">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Jen-Fong-Adwent.jpg"><br>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/TBD.jpg">
      </a>
      <a class="pair" href="#team-7">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Anil-Dash.jpg"><br>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kevin-McCoy.jpg">
      </a>
        <div class="floatstop"></div>
     </div>

  <div class="body-wrap">   

    <div id="info" class="team keynote info-block">
      <h2>Format</h2>
      <div class="member">
        <p><span class="name">Seven on Seven</span> is a conference pairing fourteen artists and technologists in teams of two, to make something new. Following a closed-session collaboration day, the teams unveil their creations in presentations at this public event. A provocative keynote kicks off the day. Join us for a critical and creative afternoon, followed by a social evening.</p>
      </div>
    </div>

    <div class="team info-block">
      <div class="member">
        <h2>Schedule</h2>
        <p>11:30am – 12pm: Registration and exhibition viewing (Hannah Sawtell, ACCUMULATOR)<br>
        12 – 6pm: Conference event (with lunch and coffee breaks)<br>
        6 – 9pm: Afterparty in the New Museum Sky Room
        </p>
      </div>
      <div class="member">
        <h2>Location</h2>
        <p><span class="name">New Museum</span><br>
        235 Bowery (Bowery and Prince)<br>
        New York, NY 10002<br>
      </p>
      </div>
    </div>

    <div class="team info-block">
      <div class="member">
        <h2>Ticket Price</h2>
        <p>Regular*: $130 <br>
VIP*: $200 <br>
Limited, reduced-price artist tickets*: $35 <br>
Afterparty only: $25 <br>
*includes afterparty admission
        </p>
      </div>
      <div class="member">
        <h2>&nbsp;</h2>
        <p>Purchase tickets here<br>
      Limited press tickets by request here 
      </p>
      </div>
    </div>

    <div id="team-1" class="team">
      <h2>Rus-Yusupov (Vine) &amp; Hannah Sawtell</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Rus-Yusupov.jpg">
        <p>As Co-founder &amp; Creative Director of Vine, <span class="name">Rus Yusupov</span> oversees product design, strategy, and branding. Vine, a mobile service that lets you capture and share short looping videos, was acquired by Twitter and launched as a standalone service in January, 2013. Prior to joining Twitter and co-founding Vine, Rus founded Big Human, a New York-based agency that designs and develops innovative digital products for startups. As Co-founder &amp; Creative Director of Vine, Rus Yusupov oversees product design, strategy, and branding. Vine, a mobile service that lets you capture and share short looping videos, was acquired by Twitter and launched as a standalone service in January, 2013. Prior to joining Twitter and co-founding Vine, Rus founded Big Human, a New York-based agency that designs and develops innovative digital products for startups.</p>
      </div>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Hannah-Sawtell.jpg">
      <p><span class="name">Hannah Sawtell</span> is an artist who lives and works in London. She has worked with video, digital image, sculptural installation, printed matter, industrial design, performance and noise. In 2012, Sawtell's linked solo exhibitions, 'Osculator' at the ICA and 'Vendor' at Bloomberg Space, London, considered new technologies of accumulated surplus, valorization and access.  Other solo shows include Vilma Gold, London and Clocktower Gallery, New York. Her exhibition ACCUMULATOR, on view at the New Museum 04/23/14 – 06/22/14, is her first USA museum solo show. .</p>
      </div>
    </div>

    <div id="team-2" class="team">
      <h2>David Kravitz (Snapchat) &amp; Frances Stark</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/David-Kravitz.jpg"><br>
        <p><span class="name">David Kravitz</span> is a software engineer and one of the first developers behind photo-messaging app Snapchat. Before graduating and joining Snapchat in 2012, Kravitz worked on Raunk, a Stanford University student designed site that ranks every element of campus life and beyond. He currently resides in California.</p>
      </div>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Frances-Stark.jpg">
      <p><span class="name">Frances Stark</span> is a Los Angeles-based artist working in multiple media – from works on paper to performance – examining "the conditions of creative labor," and highlighting the aspects of artistic production that are less frequently acknowledged. Stark's work has been exhibited extensively, including in solo shows at MoMA PS1 and the Van Abbemuseum in Eindoven, as well as notable group exhibitions such as the 2008 Whitney Biennial and the 54th Venice Biennale in 2011. In 2011, she was also commissioned to create a new work for Performa 11. She received her M.F.A. in 1993 from Art Center College of Design.</p>
      </div>
    </div>

    <div id="team-3" class="team">
      <h2>Kate Ray (scroll kit) &amp; Holly Herndon</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kate-Ray.jpg"><br>
        <p><span class="name">Kate Ray</span> is the cofounder of Scroll Kit, an intuitive web creation tool that allows those who lack coding knowledge to tell powerful visual stories online. She also created Alongside.co, a visualization of your relationships based on Foursquare checkins. She wants more people to cry in front of their computer screens, and builds technology that helps people connect with each other and express themselves.</p>
       </div>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Holly-Herndon.jpg">
      <p><span class="name">Holly Herndon</span> is an artist currently based in San Francisco, California. As well as touring the world to perform and exhibit new work, she is currently candidate for doctoral study in Computer Music at Stanford University. She received her MFA in Electronic Music and Recording Media at Mills College under the guidance of John Bischoff, James Fei, Maggi Payne, and Fred Frith. While at Mills she won the Elizabeth Mills Crothers award for Best Composer in 2010 for her vocal generated piece ’195′.</p>
      </div>
    </div>

    <div id="team-4" class="team">
      <h2>Aza Raskin (Jawbone) &amp; Kari Altmann</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Aza-Raskin.jpg"><br>
         <p><span class="name">Aza Raskin</span> is an interface designer and the Vice President of Jawbone, a San Francisco-based company that creates and sells wearable technology and portable devices. Originally from California, Raskin gave his first talk on user interfaces at the age of 10. He is founder of the music streaming community Songza, and has developed various projects for the Mozilla Corporation. He holds a double degree in mathematics and physics from the University of Chicago. His other projects include Massive Health, Algorithm Ink and Bloxes, a cardboard furniture startup that was acquired by Amazon.</p>
       </div>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kari-Altmann.jpg">
      <p><span class="name">Kari Altmann</span> is a cloud-based artist in New York with a BFA from MICA. She is an ongoing participant in microcultures and conceptual social media. She is the creator of the R-U-In?S platform, and experiments with ideas of algorithms, art direction, and content management as they relate to all mediums. Her work is often focused on cultural technology and the structures that shape today’s meta awareness of brands, genres, memes, templates, trends, and tribes. She has done projects with the Hirshhorn Museum, Goethe Institute, Art Dubai, New Museum, DIS Magazine, American Medium, and many more.</p>
      </div>
    </div>

    <div id="team-5" class="team">
      <h2>Nick Bilton (author, journalist) &amp; Simon Denny</h2>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Nick-Bilton.jpg"><br>
       <p><span class="name">Nick Bilton</span> is a British-American journalist and author. He currently contributes to the New York Times as a technology and business columnist and also blogger for their bits blog.  He has published two critically acclaimed books. His second book, Hatching Twitter, chronicles the relationship of the four creators of Twitter during inception, development and rise to prominence.  The book is presently being turned into a TV series. Bilton has also written for Wired, Engadget, Scientific America, CNet, O’Reilly Radar and AlleyInsider and has acted as an adjunct professor at New York University in the Interactive Telecommunications Program.</p>
      </div>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Simon-Denny.jpg">
        <p><span class="name">Simon Denny</span> is a New Zealand artist currently based in Berlin, where his work explores the culture surrounding internet technology firms, the obsolescence of analogue broadcast technology, neoliberal corporate culture, the demise of ‘welfarism’ and contemporary constructions of national identity. In 2012 he was nominated for the Walters Prize (for Introductory Logic Video Tutorial, which premiered at Artspace, Sydney, in 2011) and also won the Baloise Art Prize at Art Basel for his Channel Document project. This year he exhibited The Personal Effects of Kim Dotcom, at MUMOK, Vienna and presented All You Need Is Data: The DLD 2012 Conference Redux at Kunstverein Munich, Petzel Gallery, New York and Hamburger Bahnhof, Berlin. He will represent New Zealand in the 2015 Venice Biennale. Denny is represented by Galerie Buchholz, Cologne/Berlin; Petzel Gallery, New York; T293, Naples/Rome and Michael Lett, Auckland.</p>
       </div>
    </div>

    <div id="team-6" class="team">
      <h2>Jen Fong-Adwent (Meatspace Chat, Mozilla) &amp; TBC</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Jen-Fong-Adwent.jpg"><br>
        <p><span class="name">Jen Fong-Adwent</span> is a coder inspired by the idea of decentralizing the micro-blog. She created Meatspace Chat and has been developing it as an open source project with multiple contributors. Meatspace Chat is a web service where a user can generate a gif of and allows them to post an update with it in 250 words or less.  The Meatspace realm also encompasses Aux, a Youtube and Vimeo video sharing cloud and Meatspace TV, where users can host their own channel and create GIF shows for an online audience of other members.  She also was involved in creating crypt-based message distributor Lexicrypt along with database and authentication-free hosting server The Great Brain. She currently works for Mozilla.</p>
       </div>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/TBC.jpg">
      <p>Other bio TBC</p>
      </div>
    </div>

    <div id="team-7" class="team">
      <h2>Anil Dash (ThinkUp) &amp; Kevin McCoy</h2>
      <div class="member">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Anil-Dash.jpg"><br>
       <p><span class="name">Anil Dash</span> is a New York based entrepreneur and long-time blogger. He is co-founder and CEO of ThinkUp, a new service that helps people get more meaning out of the time they spend on social networks. He is also co-founded Activate, a consultancy that helps companies strategize at the intersection of technology and media.  Dash serves on the board of Stack Exchange, the Data &amp; Society Research, and the New York Tech Meetup.</p>
      </div>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kevin-McCoy.jpg">
        <p><span class="name">Kevin McCoy</span> is an artist working and exhibiting internationally with his partner Jennifer McCoy. His artworks explore changing conditions around social roles, categories, genres and forms of value. His work has adopted many methodological approaches: exhaustive categorization, recreation and reenactment, automation, miniaturization, and most recently, remote viewing and speculative modeling. His artwork is represented by in New York by Postmasters Gallery and in Geneva by Gallerie Guy Bartschi, and can be seen in the collections of the Museum of Modern Art, The Metropolitan Museum of Art, the Milwaukee Art Museum, and MUDAM in Luxembourg. He is an Associate Professor in the Department of Art and Art Professions at NYU.</p>
      </div>
    </div>

    <div id="keynote" class="team keynote">
      <h2>Keynote : Kate Crawford</h2>
      <div class="member">
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Kate-Crawford.jpg">
        <p><span class="name">Kate Crawford</span> is a Principal Researcher at Microsoft Research, a Visiting Professor at the MIT Centre for Civic Media and a Senior Fellow at the Information Law Institute at NYU. Over the last ten years she has researched the social, political and cultural contexts of networked technologies. Her current work focuses on the politics and ethics of big data practices.</p>
      </div>
    </div>
  </div>

  <div class="body-wrap footer">
    <div id="partners" class="team keynote partner-block">
      <h2>Organized By</h2>
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Rhizome.png">
    </div>

    <div class="team keynote partner-block">
      <h2>Partners</h2>
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/W+K.png"><br><br>
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Hearst-Corp.png">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/AOL.png">
      <img style="top: 5px;" src="{{ STATIC_URL }}/sevenonseven_2014/img/Betaworks.png">
      <img src="{{ STATIC_URL }}/sevenonseven_2014/img/MSR.png">
      <img style="bottom: 3px;" src="{{ STATIC_URL }}/sevenonseven_2014/img/HKN.png">
      <img style="top: 27px;" src="{{ STATIC_URL }}/sevenonseven_2014/img/New-Museum.png">
    </div>

    <div class="team partner-block">
      <div class="member">
        <h2>Hotel Partner</h2>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Ace-Hotel.png">
      </div>

      <div class="member">
        <h2>Creative Partner</h2>
        <img src="{{ STATIC_URL }}/sevenonseven_2014/img/Jawbone.png">
      </div>
    </div>
    <div class="floatstop"><div>
  </div>

<script src="{{ STATIC_URL }}/sevenonseven_2014/js/jquery.js"></script>
<script src="{{ STATIC_URL }}/sevenonseven_2014/js/jquery.easing.1.3.js"></script>

<script type="text/javascript">
$(document).ready(function() {

  var offset = $('.header').offset().top;
  $(window).scroll(function () { 
    if ($(window).scrollTop() > offset) {
      $('.header').addClass('fixed-top');
    }

    if ($(window).scrollTop() < offset) {
      $('.header').removeClass('fixed-top');
    }
  });

  var scrollHandler = function(event) {
    event.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top - $('.header').outerHeight() }, 600, 'easeOutQuart');
  };

  $('.nav li a').click(scrollHandler);
  $('a.pair').click(scrollHandler);
});


</script>

  </body>
</html>
