<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rhizome’s Seven On Seven</title>
    <meta name="description" content="Rhizome's Seven on Seven conference pairs seven leading artists with seven luminary technologists, and challenges them to develop something new&mdash;be it an application, social media, artwork, product, or whatever they imagine&mdash;over the course of a single day. They unveil these ideas for the first time at this event.">
    <meta name="viewport" content="width=1000">
    <link rel="stylesheet" href="{{ STATIC_URL }}sevenonseven_early/css/early.css">
</head>

<body>
    <div role="main" id="content">
        <div class="column" id="column1">
            <div class="section-full">
                <img id="main-logo" src="{{ STATIC_URL }}sevenonseven_early/img/logo.png">
            </div>
            <div id="ticket-info">
                <!-- <p class="announcement">The event lineup will be announced soon.</p>
                <p class="announcement">The event lineup will be announced October 1st. Early bird tickets on sale now.</p>
                <p class="buy-here"><a target="_blank" href="http://www.barbican.org.uk/education/event-detail.asp?ID=15370">BUY TICKETS HERE</a></p>
                <p>
                    <strong>Early bird ticket:</strong> £25<br />
                    <strong>Regular ticket:</strong> £35<br />
                    <strong>VIP ticket:</strong> £95
                </p>
                <p>Rhizome’s Seven On Seven, an event organised by Rhizome at the Barbican.</p> -->
            </div>
        </div>
        
        <div class="column" id="column2" style="visibility: visible;">
            <div id="middleblock-wrap">
                <div class="new-title">
                    <h1>Save the Date:</h1>
                    <h1>Rhizome’s Seven on Seven</h1>
                    <h2>Saturday, 3rd May, 2014</h2>
                    <h3><i>5th Anniversary Edition</i></h3>
                </div>
                <div class="participant-bio">
                    <p>Rhizome's Seven on Seven conference pairs seven leading artists with seven luminary technologists, and challenges them to develop something new—be it an application, social media, artwork, product, or whatever they imagine—over the course of a single day. They unveil these ideas for the first time at this event.</p>
                </div>
                <!-- <div class="participant-bio">
                    <p>Rhizome's Seven on Seven conference pairs seven leading artists with seven luminary technologists, and challenges them to develop something new&mdash;be it an application, social media, artwork, product, or whatever they imagine&mdash;over the course of a single day. They unveil these ideas for the first time at this event.</p>
                    <p class="small-blurb">Loosely inspired by what was to become Experiments in Art and Technology (E.A.T)’s 1966 event <i>9 Evenings</i>, Seven on Seven examines the current nature of collaboration in art and technology — and the role of each in contemporary culture — by generating deep conversation between two leading figures.</p>
                    <p class="small-blurb">Past Seven on Seven teams have included David Karp (Tumblr) with Ryan Trecartin, Aaron Swartz (DemandProgress) with Taryn Simon, Dennis Crowley (Foursquare) with Jill Magid and more. Documentation is available <a href="#video-documentation">below</a>.</p>
                </div> -->
                          
            </div>

        </div> <!--end column2-->

    
    <script type="text/javascript">
        var _gaq=[['_setAccount','UA-768502-3'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    
    <script type="text/javascript">
        var _sf_async_config={uid:26954,domain:"rhizome.org"};
        (function(){
          function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src',
               (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
               "js/chartbeat.js");
            document.body.appendChild(e);
          }
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
             loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>        
</body>
</html>
