<div id ="sidebar" style="margin-bottom:20px;">
  <div class="sidebar-element">
        <div class="content-wrap ">
            <div class="content" id="aboutBox">
                <div class="content-body aboutBox ">
                    <div class="about-description">
                        Rhizome is dedicated to the creation, presentation, preservation, and critique of emerging artistic practices that engage technology. <a href="/about/">More&raquo;</a>
                    </div>
                    <a href="/about/">
                        <img id = "about-sidebar-image" width="262px" src = "{{ STATIC_URL }}/about/images/NewMuseum_affiliate.png">
                    </a>             
                </div>
            </div>
        </div>
    </div>    
</div>
