<div id ="sidebar" >
    <div id="editorial-credits">
        <h4>Rhizome Editorial</h4>
        
        <h6 class="title">Editor:</h6>
        <div class="credit"><a href="mailto:editor@rhizome.org">Joanne McNeil</a></div>
        
        <h6 class="title">Editorial Fellows:</h6>
        <div class="credit">Louis Doulas, Yin Ho </div>
        
        <h6 class="title">Research Assistant:</h6> 
        <div class="credit">Alex Freedman</div>
        
        <h6 class="title">Poetry Editor:</h6>
        <div class="credit">Brian Droitcour</div>
        
        <h6 class="title">Editor-at-Large:</h6> 
        <div class="credit">Karen Archey</div>
        
        <h6 class="title">Contributing Writers: </h6>
        <div class="credit">Orit Gat, Jason Huff, Jacob Gaboury, Sarah Hromack, Ceci Moss, Ed Halter</div>

    </div>
</div>