{% load support %}

<div id ="sidebar" class="membership-sidebar">

    <div class="sidebar-element span-8">
        <div class="content-wrap span-8">
            <div class="content">
               <div class="content-body span-7 center">
                    <p>
                        <a href="https://rhizome.org/support/donate/">
                            <img src = "{{ STATIC_URL }}support/images/individual/becomeamember.png" />
                        </a>
                    </p>
                    <p>
                        <a href="https://rhizome.org/support/donate/">
                            <img src = "{{ STATIC_URL }}support/images/individual/renewmembership.png" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-element  span-8">
        <div class="content-wrap span-8">
            <div class="content">
               <div class="content-body span-7 center">
                    <p class="content-text bold" style="padding:10px 30px;">
                    For more information about Membership contact:
                    <br />
                    212-219-1288 x 302<br />
                    <a href="mailto:subscribe@rhizome.org">SUBSCRIBE@RHIZOME.ORG</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-element  span-8">
        <div class="content-wrap span-8">
            <div class="content">
               <div class="content-body span-7 center">
                    <div class="content-text">
                        <p style="font-family:Georgia;font-weight:bold;font-size:18px">
                            Rhizome also has Memberships for Organizations!
                        </p>
                        <p class="right upper bold">
                            <a href="/join/organizations/">Learn More &raquo;</a>                        
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
