<div id="nectar-ads">
    <div id="featured-ad">
        <div style="height: 600px; width: 300px" id="half_page"></div>
    </div>

    <div id="adsquares">
        <div style="height: 141; width: 137;" id="square_1"></div>
        <div style="height: 141; width: 137;" id="square_2"></div>
        <div style="height: 141; width: 137;" id="square_3"></div>
        <div style="height: 141; width: 137;" id="square_4"></div>
    </div>
    <div>
        <a style="font-weight:bold;" href="http://nectarads.com">Advertise on Rhizome with Nectar Ads</a>
    </div>
</div>
