<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://rhizome.us1.list-manage.com/subscribe/post?u=a1487b13ca8ed17d052f71f12&amp;id=6f6e0ea86b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<fieldset>
	
<div class="mc-field-group">
<input type="text" placeholder="YOUR EMAIL" name="EMAIL" id="newsletter-input">
</div>
		<div id="mce-responses">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>
		<div><input type="submit" value="Subscribe to Rhizome News" name="subscribe" id="mc-embedded-subscribe"></div>
	</fieldset>	
</form>
</div>

<!--End mc_embed_signup-->