{% load feed_tags %}

<div id ="sidebar">
  <div class="sidebar-element ">
        <div class="section-title"><a href="/announce">Rhizome News</a></div>
        <div class="content-wrap ">
            <div class="content" id="subscribe">
                <div class="content-body subscribe ">
                    <div class="subscribe-description">
                    Our weekly email newsletter including featured stories, events, job listings, announcements and opportunities in the fields of art & technology.
                    </div>

                    <div id="rhizome-news-signup-form">
                        {% include "fragments/rhizome_news_mailchimp_form.html" %}
                    </div>
                </div>

                 <div class="content-body subscribe ">
                    <div id="connect-links">

                        <!-- twitter follow button -->
                        <a href="https://twitter.com/rhizome" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @rhizome</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                        <!-- fb like button -->
                       <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Frhizome.org%2F&amp;send=false&amp;layout=button_count&amp;width=77&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:77px; height:20px;" allowTransparency="true"></iframe>

                        <!-- youtube subscribe button -->
                        <a class="youtube-subscribe-button" href="http://www.youtube.com/subscription_center?add_user=RhizomeDotOrg1" title="Subscribe to Rhizome's YouTube Channel">Subscribe to Rhizome's YouTube Channel</a>

                        <!-- vimeo button -->


                        <!-- rss button -->
                        <a class="rhizome-fp-rss" href="{% feedburner_url 'frontpage' %}" title="Rhizome RSS">Rhizome RSS</a>

                        <!-- tumblr button -->
                        <iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="18" width="18" src="http://platform.tumblr.com/v1/follow_button.html?button_type=3&tumblelog=rhizomedotorg&color_scheme=dark"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
