<div id ="sidebar" class="membership-sidebar">
    <div class="sidebar-element span-8">
        <div class="section-title">
            <a href="https://rhizome.org/support/donate">Become a Member</a>
        </div>
        <div class="content-wrap span-8">
            <div class="content">
               <div class="content-body span-7 center">
                    <a href="https://rhizome.org/support/donate">
                        <img src = "{{ STATIC_URL }}support/images/individual/member_price.png" />
                    </a>
                    <p class="center content-text">Rhizome membership will allow you to deepen your knowledge of new media art and connect you more closely to the field. Membership comes with tools and resources as well as the satisfaction of knowing that you've lent a great measure of support to a nonprofit organization.</p>         
                    <div class="policy-links content-text">
                        <a href="/about/#access">Access and Membership Policy</a><br />
                        <a href="/about/policy#user">Member Agreement</a><br />
                        <a href="/about/policy#member">User Agreement</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
