{% extends "admin/change_form.html" %}

{% block form_top %}
    <p>{% trans "First, enter a username and password. Then, you'll be able to edit more user options." %}</p>
    <input type="hidden" name="_continue" value="1" />
{% endblock %}

{% block after_field_sets %}
<script type="text/javascript">document.getElementById("id_username").focus();</script>
{{ form.username.errors }} {# TODO: get required class on label_tag #} {% trans 'Username' %}: {{ form.username }}
{{ form.username.help_text }}<br/>
{{ form.password1.errors }} {# TODO: get required class on label_tag #} {% trans 'Password' %}: {{ form.password1 }}<br/>
{{ form.password2.errors }} {# TODO: get required class on label_tag #} {% trans 'Password (again)' %}: {{ form.password2 }}
{% trans 'Enter the same password as above, for verification.' %}<br/>

{% endblock %}
