{% extends "accounts/base.html" %}
{% load i18n %}

{% block pageTitle %}Password reset{% endblock %}


{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset confirm' %}</div>{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

<div class="section span-24">
        <div class="section-row-titles">
            <span class = "nav-item">Reset Password</span>
            <hr class="hr3-no-margin">
        </div>    
</div>

<div class="section-content span-24">
    <div class = "section-content">
        
        <div id = "main-login">
            <div class="username-password">
            
            {% if validlink %}

                <div id="login-text">
                    {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
                </div>

                <form action="" method="post">
                    {% csrf_token %}
                    <div class="username-password">
    
                        <div class = "form-errors">
                            {{ form.new_password1.errors }}
                        </div>
                        
                        <div class="username-password">
                            <label for="id_new_password1">{% trans 'New password:' %}</label>
                            {{ form.new_password1 }}
                        </div>
                        
                        <div class="site-errors">{{ form.new_password2.errors }}</div>
                        
                        <div class="username-password">
                            <label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}
                        </div>                
                        
                        <div id="login-text">
                            <button id ="login" class="round-blue float-right" type="submit" value="Login">CHANGE MY PASSWORD</button>
                        </div>
                    </div>                    
                </form>
                
                {% else %}

                <h2>{% trans 'Password reset failed!' %}</h2>

                <div id="login-text"> 
                    The password reset link was invalid, possibly because it has already been used.  
                    <br /><br />
                    <a href = "/password_reset/">Click here to try again</a>
                </div>

            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
