{% extends "accounts/base.html" %}
{% load i18n %}
{% block pageTitle %}Password Reset{% endblock %}

{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="../../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}</div>{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
<div class="section span-24">
        <div class="section-row-titles">
            <span class = "nav-item">Change Password</span>
            <hr class="hr3-no-margin">
        </div>    
</div>

<div class="section-content span-24">
    <div class = "section-content">
        
        <div id = "main-login">
            <div class="username-password">
                <div id="login-text" class="upper">
                    Your password was has been changed. 
                    <br/><br/>
                    <a href="/login/">Click here to login with your new password.</a>   
                </div>
            </div>
       </div>
    </div>
</div>
{% endblock %}
