{% extends "base.html" %}
{% load url from future %}

{% block pageTitle  %} Manage Account {% endblock%}

{% block content %}

<div class="section span-24">
        <div class="section-row-titles">
            <span class = "nav-item">Username/Password {{hey}}</span>
            <hr class="hr3-no-margin">
        </div>    
</div>

<div class="section-content span-24">
    <div class = "section-content">
            
        <div id = "main-login">            
            <div id="login-text">
                New to Rhizome? <a href="{% url 'accounts_register' %}">Click here to sign up</a><br/><br/>
                Wanna change your current password? <a href="/password_change/">Click here</a><br/><br/>
                Forgot your username or password? <a href="/password_reset/">Click here</a><br/><br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}