{% extends "accounts/base.html" %}
{% load i18n %}
{% block pageTitle %}Password Reset{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset' %}</div>{% endblock %}

{% block title %}{% trans 'Your password has been reset complete' %}{% endblock %}

{% block content %}

<div class="section span-24">
        <div class="section-row-titles">
            <span class = "nav-item">Reset Password</span>
            <hr class="hr3-no-margin">
        </div>    
</div>

<div class="section-content span-24">
    <div class = "section-content">
        <div id = "main-login">
            <div class="username-password">
                <div id="login-text" class="upper">
                   Your password has been reset.<br /><br />
                   <a href="/login/">Click here to login with your new password.</a>   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
