{% extends "accounts/base.html" %}
{% load i18n %}
{% block pageTitle %}Password Reset{% endblock %}

{% block breadcrumbs %}
<div>
    <a class="first" href="http://rhizome.org/">Home</a> 
    <span class="divider">/</span>
    <div>
        <a class="last" href="{{ request.path }}">
        Reset Password
        </a>
    </div>
</div> 
{% endblock %}

{% block content %}

<div class="section span-24">
        <div class="section-row-titles">
            <span class = "nav-item">Reset Password</span>
            <hr class="hr3-no-margin">
        </div>    
</div>

<div class="section-content span-24">
    <div class = "section-content">
        
        <div id = "main-login">
            <div class="username-password">
                <div id="login-text">Enter your e-mail address below, and we'll e-mail you your username and instructions for setting a new password.</div>
        
                <form action="" method="post">
                {% csrf_token %} 

                {{ form.email.errors }}
                <div class="login-text">
                    {{ form.email }} 
                    <button id ="login" class="round-blue float-right" type="submit" value="Login">RESET MY PASSWORD</button>
                </div>
                </form>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
