{% extends "accounts/base.html" %}

{% block pageTitle %}
Thanks for Registering
{% endblock %}


{% block content %}
<div class="section span-24">
        <div class="section-row-titles">
            <span class = "nav-item">Thanks for registering!</span>
            <hr class="hr3-no-margin">
        </div>    
</div>

<div class="section-content span-24">
    <div class = "section-content">
            
        <div id = "main-login">            
            <div id="login-text" class="span-20">
                Thanks for signing up to Rhizome! You will soon receive an email with instructions for activating your new Rhizome Account. 
                <br /><br />
                Be sure to check you spam box if you don't see the message.</a>
                <br /><br />
                Thanks!
                <br /><br />
                -- The Rhizome Team
            </div>
        </div>
    </div>
</div>
{% endblock %}
