<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns#">
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script> <!-- chartbeat -->
        <meta charset="UTF-8">
        <title>Rhizome Community Campaign 2014</title>
        <meta name="description" content="Rhizome advocates for contemporary art that produces richer and more critical technology cultures. Support our work, online and off." />
        <meta name="google-site-verification" content="AZfoqybynDh_0mjEBG_XwMZeCwiSE-GZ8BiQB5FZzDU" />

        <meta content="Rhizome" property="og:title">
        <meta content="website" property="og:type">
        <meta content="http://rhizome.org/static/campaign_2014/img/Ad%20combo.jpg" property="og:image">
        <meta content="http://rhizome.org/campaign/" property="og:url">
        <meta content="Rhizome" property="og:site_name">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@rhizome">

        <link rel="shortcut icon" href="{{ STATIC_URL }}campaign_2014/img/leyva.gif" />
        <!-- google fonts -->
        <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,700,400italic,200italic' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}campaign_2014/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}campaign_2014/css/styles.css">

        <!-- Quantcast Tag, part 1 -->
        <script type="text/javascript">
            var _qevents = _qevents || [];
            (function() {
                var elem = document.createElement('script');
                elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge")  
                            + ".quantserve.com/quant.js";
                elem.async = true;
                elem.type = "text/javascript";
                var scpt = document.getElementsByTagName('script')[0];
                scpt.parentNode.insertBefore(elem, scpt);  
            })();
        </script>
    </head>
    <body>
        <!-- BEGIN content -->
        <div id="new_header">
            <ul>
                <li><a href="http://rhizome.org/">Rhizome</a></li>
                <li><a href="http://rhizome.org/editorial/">Journal</a></li>
                <li><a href="http://rhizome.org/artbase/featured/">Artbase</a></li>
                <li><a href="http://rhizome.org/community/">Community</a></li>
                <li><a href="http://rhizome.org/programs/">Programs</a></li>
            </ul>
        </div>

            <div class="column left">
                <h1>Community Campaign 2014</h1>
                <div id="appeal"></div>

                <div id="box">
                    <div id="circle">
                        <h3 class="telethon"><div class="date">March 19, 2014</div><br>24-Hour Internet<br>Telethon</h3>
                    </div>
                    <div id="net-art-stars">
                        <p>(net art) Stars Will Shine</p>
                        <div id="donate-today">Donate Today</div>
                   </div>
                </div>

                <div class="giftbox">
                    <img src="{{ STATIC_URL }}campaign_2014/img/coming-soon.png">
                    <span class="amount">$30</span><br>
                    DONATION<br>
                    <p><span class="swag">WHAT YOU'LL RECEIVE</span><br>Rhizome Membership & Our Thanks!</p>
                </div>

                <div class="giftbox">
                    <a target="_blank" href="{{ STATIC_URL }}campaign_2014/img/rhizome1996_2.jpg"><img src="{{ STATIC_URL }}campaign_2014/img/rhizome1996_2-thumb.jpg"></a>
                    <span class="amount">$50</span><br>
                    DONATION<br>
                    <p><span class="swag">WHAT YOU'LL RECEIVE</span><br>$30 Benefits + Custom Embroidered Rhizome Hat<br><span class="tiny">Not a hat person? <a href="http://media.rhizome.org/blog/8884/totes.jpg" target="_blank">Choose our tote</a> instead by <a href="mailto:info@rhizome.org" target="_blank">emailing us</a>!</span></p>
                </div>

                <div class="giftbox">
                    <a target="_blank" href="{{ STATIC_URL }}campaign_2014/img/Disc_saraludy.png"><img src="{{ STATIC_URL }}campaign_2014/img/Disc_saraludy-thumb.jpg"></a>
                    <span class="amount">$150</span><br>
                    DONATION<br>
                    <p><span class="swag">WHAT YOU'LL RECEIVE</span><br>$30 Benefits + Limited Edition, Large (40" x 22.5") Digital Print: <strong>Sara Ludy</strong>, <span class="italic">Disc</span> (2014)</p>
                </div>

                <div class="giftbox">
                    <a target="_blank" href="{{ STATIC_URL }}campaign_2014/img/stainless_steel_morphine_pills__med.jpg"><img src="{{ STATIC_URL }}campaign_2014/img/stainless_steel_morphine_pills__sm.jpg"></a>
                    <span class="amount">$500</span><br>
                    DONATION<br>
                    <p><span class="swag">WHAT YOU'LL RECEIVE</span><br>$50 Benefits + Limited Edition<br><strong>Bunny Rogers & Filip Olszewski</strong>, <span class="italic">Stainless Steel Morphine Pill</span> (2014)<br><span class="tiny">Image is front and back view; Buyer receives one pill, 1:1 size of actual pill</span></p>
                </div>

                <div class="giftbox">
                    <img src="{{ STATIC_URL }}campaign_2014/img/coming-soon.png">
                    <span class="amount">$1000</span><br>
                    DONATION<br>
                    <p><span class="swag">WHAT YOU'LL RECEIVE</span><br>$150 Benefits + Rhizome Leadership Council Membership (exclusive events, complimentary New Museum and Rhizome tickets, and bringing you closer to our work)</p>
                </div>

                <div class="giftbox">
                    <a href="bitcoin:16kN2bhacYvAtLzSktbZft2aCJS2CyaycA?label=Rhizome%20Donation&amount=0.10">
                        <img src="{{ STATIC_URL }}images/qr.png">
                    </a>
                    <span class="amount">0.10 BTC</span><br>
                    DONATION<br>
                    <p><span class="swag">WHAT YOU'LL RECEIVE</span><br>Rhizome Membership + Custom Embroidered Rhizome Hat 
                        <a href="bitcoin:16kN2bhacYvAtLzSktbZft2aCJS2CyaycA?label=Rhizome%20Donation&amount=0.10">16kN2bhacYvAtLzSktbZft2aCJS2CyaycA</a><br><span class="tiny">To recieve benefits + donation receipt, you must <a href="mailto:gifts@rhizome.org" target="_blank">email us</a> with the details of the transaction (we don't learn your email from a Bitcoin donation).</span>
                    </p>
                </div>
            </div>

            <div class="column right">
                <h3>GOAL: <span id="goal"></span></h3>
                <h3>Deadline: <span id="deadline"></span> days to go</h3>
                <h3>Amount raised: <span id="amount-raised"></span></h3><br>
                <div class="progress progress-striped">
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only">0% Complete</span>
                  </div>
                </div>
                <p>Rhizome advocates for contemporary art that produces richer and more critical technology cultures. Support our work, online and off.</p>
                <div href="#" class="donate-rect primary">Donate</div>
                <a href="/support/donate/confirm_donation/?amount=30.00" class="donate-rect">$30<br><span class="reward">Membership</span></a>
                <a href="/support/donate/confirm_donation/?amount=50.00&gift=Custom Embroidered Rhizome Hat" class="donate-rect">$50<br><span class="reward">$30-level + hat</span></a>
                <a href="/support/donate/confirm_donation/?amount=150.00&gift=Sara Ludy print" class="donate-rect">$150<br><span class="reward">$30-level + print</span></a>
                <a href="/support/donate/confirm_donation/?amount=500.00&gift=Custom Embroidered Rhizome Hat, Bunny Rogers %26 Filip Olszewski sculpture" class="donate-rect">$500<br><span class="reward">$50-level + sculpture</span></a>
                <a href="/support/donate/confirm_donation/?amount=1000.00&gift=Sara Ludy print" class="donate-rect">$1000<br><span class="reward">$150-level + Council</span></a>
                <div href="/support/donate/" class="donate-rect">
                    <form id="amount-form">
                        $ <input id="amount-field" placeholder="Any Amount" maxlength="5">
                    </form>
                </div>
        </div>
       <!-- END content -->

        <!-- Quantcast Tag, part 2 -->
        <script type="text/javascript">
            _qevents.push( { qacct:"p-1bU5CKetpvMBI", labels:"artmedia" } );
        </script>
        <noscript>
            <div style="display: none;">
                <img src="//pixel.quantserve.com/pixel/p-1bU5CKetpvMBI.gif?labels=artmedia" height="1" width="1" alt="Quantcast"/>
            </div>
        </noscript>
        
        <script type="text/javascript" src="{{ STATIC_URL }}campaign_2014/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}campaign_2014/js/behavior.js"></script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-768502-1']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        
        <!-- more chartbeat -->
        <script type="text/javascript">
        var _sf_async_config={};
        /** CONFIGURATION START **/
        _sf_async_config.uid = 26954;
        _sf_async_config.domain = "rhizome.org"; /** CHANGE THIS **/
        /** CONFIGURATION END **/
        (function(){
          function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement("script");
            e.setAttribute("language", "javascript");
            e.setAttribute("type", "text/javascript");
            e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
            document.body.appendChild(e);
          }
          var oldonload = window.onload;
          window.onload = (typeof window.onload != "function") ?
             loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
        </script>
    </body>
</html>
