h1#title {
    font-size: 72px;
    color: darkblue;
    text-align: center;
}

.section {
    width: 800px;
}

.section.form {
    margin-bottom: 260px;
}

ol li {
    list-style-type: decimal;
}

.slide-hidden {
    display: none;
}

#artist-samples,
#artist-press,
#artist-notes {
    height: 145px;
}