form {
    margin-bottom: 260px;
}

.grant-image {
    max-width: 100%;
}

.left-col {
    width: 60%;
    margin-right: 10%;
}

.left-col, .right-col {
    margin-top: 20px;
}

.proposal-vote-view {
    border-bottom: 1px solid lightblue;
    padding-top: 30px;
}

.proposal-vote-view img {
    max-width: 614px;
    max-height: 300px;
}

div.left-col {
    margin-bottom: 260px;
}

.proposal-vote-view form {
    margin-bottom: 0;
}

p.explanitory {
    font-size: 14px;
}