@font-face {
  font-family: "news_gothic_mtcondensedbold";
  src: url("../fonts/newsgothicmt-condensedbold-webfont.eot");
  src: url("../fonts/newsgothicmt-condensedbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/newsgothicmt-condensedbold-webfont.woff") format("woff"), url("../fonts/newsgothicmt-condensedbold-webfont.ttf") format("truetype"), url("../fonts/newsgothicmt-condensedbold-webfont.svg#news_gothic_mtcondensedbold") format("svg");
  font-style: normal;
  font-weight: normal; }

#new_header, #new_footer {
  background: black;
  position: fixed;
  padding-bottom: 4px;
  width: 100%;
  z-index: 1000;
  font-family: "news_gothic_mtcondensedbold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
#new_header ul {
    display: inline;
    list-style: none;
    margin-left: 120px;
    margin-right: 170px;
    padding: 0px 0px 10px 0px;
    line-height: 1;
    width: 100%;
    text-align: right;
    }
#new_header ul li, #new_footer ul li {
  color: gainsboro;
  display: inline-block;
  margin-right: 27px;
  margin-top: 12px; }
@media only screen and (max-width: 690px) {
    #new_header ul {
      display: block;
      margin-top: 25px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      padding-bottom: 5px;
      text-align: center;
    }
    #new_header ul li, #new_footer ul li {
      margin-left: 0.9%;
      margin-right: 0.9%;
    }
  }
    #new_header ul li.reversed, #new_footer ul li.reversed {
      margin-left: 23px;
      float: right;
      margin-right: 0; }
    #new_header ul li:last-child, #new_footer ul li:last-child {
      margin-right: 0; }
  #new_header a, #new_footer a {
    color: gainsboro; }
  #new_header a:hover, #new_footer a:hover {
    color: white;
    text-decoration: none; }
  #new_header a.active, #new_footer a.active {
    color: white;
    text-decoration: underline; }

#new_header {
  font-size: 18px;
  top: 0;
  -moz-box-shadow: 0 0 13px 0 #231f20;
  -webkit-box-shadow: 0 0 13px 0 #231f20;
  box-shadow: 0 0 13px 0 #231f20; }
  #new_header li:first-child {
    margin-left: 0px;
    position: fixed;
    top: 0px;
    left:20px;}
  #new_header li:first-child a {
    text-transform: uppercase;
    color: white; }
  #new_header li#account {
    position: fixed;
    top: 0px;
    right: 17px;
    font-size: 12px; }
    #new_header li#account i {
      font-size: 16px; }
  #new_header li#search {
    position: fixed;
    margin-right: 20px;
    right: 30px;
    top: 0px;
    font-size: 12px; }
    #new_header li#search form {
      margin: 0;
      padding: 0;
      display: inline; }
      #new_header li#search form input {
        -webkit-appearance: none;
        border-radius: 0;
        width: 112px;
        margin: 0;
        padding: 3px 4px 3px 3px;
        display: inline-block;
        height: 10px;
        background: gainsboro;
        border: none;
        vertical-align: middle;
        color: black; }
        #new_header li#search form input:focus {
          background: white;
          color: black; }
      #new_header li#search form a#search-addon {
        margin: 0;
        padding: 3px;
        height: 10px;
        background: gainsboro;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        color: white;
        line-height: 10px; }
        #new_header li#search form a#search-addon i {
          line-height: 10px; }
      #new_header li#search form input:focus + a#search-addon {
        background: white;
        color: gainsboro; }

body.with-top-banner #new_header {
  top: 30px; }

#new_footer {
  font-size: 13px;
  bottom: 0; }
#new_footer ul {
    display: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: left;
}
#new_footer ul li {
  margin-top: 7px;
  margin-left: 0px;
}
#new_footer ul li:first-child {
  display: fixed;
}
@media only screen and (max-width: 690px) {
  #new_footer ul li:first-child {
    display: none;
  }
}
#new_footer ul li:first-child a.active:not(.underline) {
  text-decoration: none;
}
#new_footer.flash li, #new_footer.flash a, #new_footer.flash a:first-child, #new_footer.flash a.active {
  color: white; }
