.carousel .item.right {
    text-align: left !important;
}

.carousel .item {
  /*  background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    height: 419px;
}

.carousel#fp img {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    min-width: 100%;
    min-height: 419px;
}

.carousel#fp {
    background: #000;
}

.carousel#fp h2 {
    color: white;
    line-height: 1.3em;
    padding-bottom: 5px;
    font-family: 'TradeGothic LT CondEighteen', sans-serif;
    font-size: 23pt;
}

.carousel#fp h2 a {
    color: white;
    text-decoration: none;
}

.carousel#fp a:hover {
    text-decoration: none;
}

.carousel#fp p {
    font-family: Verdana, sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    max-width: 320px;
    margin-left: 0;
    margin-top: 10px;
    color: inherit;
}

.carousel#fp .carousel-caption {
    color: white;
    background: none;   
    left: 85px;
    top: 29%;
    padding: 15px;
    max-width: 460px;
    font-size: 13px;
}

.carousel#fp .carousel-control {
    background: none;
    border: none;
    font-size: 130px;
    line-height: 84px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
