/********************** Sidebars  ********************/
#archives-sidebar {
    float:left;
    clear:both;
    padding: 0px 19px; 
    margin-top: 10px;
}

#archives-sidebar .sidebar-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
}

#archives-sidebar hr.hr2-blue, 
#archives-sidebar hr.hr2-blue-no-margin  {
    width:90%;
    margin: auto;
}

#sidebar .archive-row {
    background: white;
}

#sidebar .content-text {
    background: white;
    padding: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#archives-sidebar .year{
    font-style: italic;
    font-size: 20px;
    font-family: Verdana, 'sans-serif';
    color:#474A4C;
    text-align: center;
}

#archives-sidebar .year a.year-link {
    color:#474A4C;
}

#archives-sidebar .year a.year-link:hover {
    text-decoration: none;
}

#archives-sidebar .year .month{
    font-size: 12px;
    font-family: Helvetica;
    color: #6494B2;
}

.archives-sidebar-title{
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding: 10px 5px;
}

#archives-sidebar-search {
    margin: 15px 0px;
}

.archives-search-input{
   width:215px;
   height: 20px;
   font-size: 15px;
}

#archives-sidebar-search #search{
    margin-top:0px !important;
}

.archive-search-input input.text {
    margin-top:0px;
}

/**support**/

#support-sidebar {
    background-color: #EDEDED;
    margin: auto;
    direction: block;
    clear: both;
    padding: 10px 25px 0px;
    margin-bottom: 10px;
}

.support-sidebar-content {
    height: 100%;
}

#support-sidebar img {
    margin: auto;
    display: block;
}

#support-sidebar h6 {
    text-align: center;
    color:gray;
    padding-bottom: 10px;
}

.support-sidebar-content div{
    padding: 10px 0px;
}

a#support-sidebar-button{
    text-align: center;
    -moz-border-radius:1em 1em 1em 1em;
    border-radius:1em 1em 1em 1em;
    -webkit-border-radius:1em 1em 1em 1em;
    background-color:#719BB6;
    border:2px solid #719BB6;
    color:white;
    font-weight: bold;
    padding:8px 91px;
    margin-top: 10px;
}

a#support-sidebar-button:hover {
    text-decoration: none;
}

#support-sidebar #support-sidebar-content {
    height: 100%;
    margin-right: 25px;
    margin-left: -5px;
}

#support-sidebar #support-sidebar-content a#support-sidebar-button{
    padding:8px 26px;
}


.features-header {
    text-align: center;
    color: gray;
    padding: 15px 0px;
}

.membership .benefit-item{
    padding: 10px 0px;
}

.feature-box {
    padding:25px 30px 35px 30px;
    margin-right: 24px;
    height: 800px;
}

.feature-box .yearly{
    text-align: center;
    font-weight: bold;
}

#user-features {
    border:1px solid #CFCFCF;
}

#membership-features {
    background-color:#F7F7F7;
    border:1px solid #CFCFCF;
}

#council-features{
    background-color:#333333;
    border:1px solid #CFCFCF;
    color:#A8ADB3;
}

#council-features .features-header {
    color:#6494B2;
}

#council-features-header {
    text-align: center;
    color: white;
    padding: 15px 0px;
}

#user-features img.price {
    margin-bottom: 30px;
}

#membership-features img.price {
    margin-top: 62px;
    margin-bottom: 10px;
}

#council-features img.price {
    margin-top: 60px;
}

#council-description {
    margin-top: 20px;
}

#council-features ul{
    list-style: disc;
    padding-left: 0px;
    margin-left: 13px;
    margin-bottom: 0px;
}

img.price {
    margin: 10px auto;
    display: block;
}

/* general grey sidebar styles */
#sidebar .section-title {
/*     background-image:url("../images/sidebar_header_background.png"); */
    margin: 0 auto;
    text-align: center;
    padding: 4px;
    font-size: 22px;
    background-color: #080B0D;
    color: white;
    font-family: Verdana, 'sans-serif';
}

#sidebar .section-title a{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

#sidebar .section-title a:hover{
    text-decoration: none;
}

#sidebar .sidebar-element {
    margin-bottom: 5px;
}

#sidebar .content-wrap{
background: #e3f6f7; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWRhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e3f6f7 0%, #eadaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3f6f7), color-stop(100%,#eadaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e3f6f7 0%,#eadaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e3f6f7 0%,#eadaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e3f6f7 0%,#eadaea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e3f6f7 0%,#eadaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f6f7', endColorstr='#eadaea',GradientType=0 ); /* IE6-8 */
    max-width: 308px;
}

#sidebar .content-body {
    padding: 10px 20px;
    width: 260px;
    background-repeat: repeat;
}

#sidebar .content .descriptor{
    color: #333;
    font-weight: bold;
}

#sidebar .content .comment-excerpt{
    font-style: italic;
    font-family: Verdana, 'sans-serif';
    font-size: 12px;
    color: #3b3b3b;
    overflow-x: hidden;
}

#sidebar .content .comment-info {
    border-top:1px solid #333; 
}

#sidebar .content .comment-info a.user{
    color: #080B0D;
}

#sidebar #sidebar-tags {
    font-size: 12px;
}

#sidebar .tag-cloud{
    padding: 0;
    background-color: white;
    line-height: 1.8;
}

#sidebar a.tag{
    margin: 2px;
}

/* editorial archive sidebar styles*/

#sidebar .archive-row  .year{
    font-style: italic;
    font-size: 16px;
    font-family: Verdana, 'sans-serif';
    color:#474A4C;
    text-align: center;
}

#sidebar .archive-row .year a.year-link {
    color:#080B0D;
    border-bottom: 1px solid #080B0D;
}

#sidebar .archive-row  .year a.year-link:hover {
    text-decoration: underline;
}

#sidebar .archive-row .year .month{
    font-size: 14px;
    font-family: Verdana, 'sans-serif';
    color: #6494B2;
    text-transform: none !important;
}

/* subscribe sidebar */
#sidebar #subscribe{
    clear:both;
    background: #e3f6f7; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWRhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e3f6f7 0%, #eadaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3f6f7), color-stop(100%,#eadaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e3f6f7 0%,#eadaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e3f6f7 0%,#eadaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e3f6f7 0%,#eadaea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e3f6f7 0%,#eadaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f6f7', endColorstr='#eadaea',GradientType=0 ); /* IE6-8 */

} 

#sidebar #subscribe #rss-icon {
    float:left;
    margin-right: 30px;
    margin-top: 20px;
}

#sidebar .rss-links {
    float:left;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 14px;
    background: white;
    padding: 6px;
}

#sidebar .rss-links a{
    display: block;
}

#sidebar #subscribe #connect-links img{
    display: inline;
    margin: 5px 0 0 0;
}

#sidebar #subscribe #connect-links .youtube-subscribe-button {
display: inline-block;
width: 50px;
height: 20px;
text-indent: -9999px;
overflow: hidden;
background: transparent url(http://rhizome.org/static/images/connect/youtube.png) no-repeat;
margin: 0 1px 0 0;
line-height: 30px;
padding: 0;
}

#sidebar #subscribe #connect-links .rhizome-fp-rss {
display: inline-block;
width: 20px;
height: 20px;
text-indent: -9999px;
overflow: hidden;
background: transparent url(http://rhizome.org/static/images/connect/rss.png) no-repeat;
background-size: 100%;
margin: 0 1px 0 0;
line-height: 30px;
padding: 0;
}


#sidebar #subscribe #connect-links {
    text-align: center;
    margin: 0 auto;
}


#sidebar .subscribe-input{ 
    text-align: center;
    margin: 10px 0px;
}

#sidebar .subscribe-description {
    font-family: Verdana, 'sans-serif';
    /*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
    font-size: 13px;
}

#sidebar #newsletter-input{
    margin-bottom: 15px;
    margin-top: 10px;
    width: 243px;
}

#sidebar #subscribe #news-sidebar-image{
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

/* About Box sidebar */
#sidebar #aboutBox{
    clear:both;
} 

#sidebar .about-description {
    font-family: Verdana, 'sans-serif';
    /*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
    font-size: 13px;
}

#sidebar #aboutBox #about-sidebar-image{
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* announce sidebar */

#sidebar .deadline, 
#sidebar .sidebar-post, 
#sidebar .comment {
    margin: 5px 0 10px;
    font-weight: normal;
    background-color: white;
    padding: 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#sidebar .deadline-title, 
#sidebar .sidebar-post-title, 
#sidebar .comment-title,
#sidebar .announce-title,
#sidebar .announce-title-no-image,
#sidebar .sidebar-post-title-no-image
#sidebar .deadline-title {
    font-size: 12px;
    line-height: 1.2;
    font-weight: bold;
    float:left;
    width: 132px;
    margin-bottom: 10px;
}


#sidebar .announce-title-no-image{
    width:100%;
}

#sidebar .announce-title{
    width:156px !important;
}

#sidebar .deadline-title{
    width:175px !important;
}

#sidebar .sidebar-post-title-no-image,
#sidebar .comment-title{
    width: 100% !important;
    float: none;
}

#sidebar .deadline-user{
    border-top: 1px solid #333; 
    text-align: right;
    float:left;
    width: 183px;
}

#sidebar .announce-user,
#sidebar .sidebar-post-info{
    border-top: 1px solid #333; 
    text-align: right;
    clear:both;
}

#sidebar .sidebar-post .post-image{
    max-height: 90px;
    overflow-y: hidden; 
    width: 100px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#sidebar .announce-thumbnail{
    height: 80px;
    width: 80px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#sidebar .deadline .day  {
    width: 50px;
    text-align: center;
    background-color: white;
    border: solid 1px #cecdcd;
    padding: 8px 0px;
    position: relative;
    margin: 0px 10px 10px 2px;
    line-height: 1.22;
    float:left;
}

#sidebar .deadline  .day-number {
    font-size: 33px;
    font-family: Helvetica;
    color: #33333;
    font-weight: lighter;
}

#sidebar .deadline  .day-title, .day-month {
    font-size: 12px;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
    color: #909090;
}

#sidebar .deadline  .month {
    font-family: Helvetica;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
}

#sidebar .sidebar-program{
    background-color: white;
    font-weight: bold;
    text-align: center;
}

#sidebar #subscribe{
    background: #e3f6f7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWRhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e3f6f7 0%, #eadaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3f6f7), color-stop(100%,#eadaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e3f6f7 0%,#eadaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e3f6f7 0%,#eadaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e3f6f7 0%,#eadaea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e3f6f7 0%,#eadaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f6f7', endColorstr='#eadaea',GradientType=0 ); /* IE6-8 */
}

#sidebar .program-image{
    padding: 5px 0px;
}

#sidebar .program-title{
    font-weight: bold;
    font-size: 14px;
    margin: 3px 8px;
    line-height: 1.2;
}

#sidebar .program-info{
}

#ads-sidebar{
    text-align: center;
}

#ads-sidebar h5{
    margin: 10px auto  5px;
}

#ads-header-link{
    color: #080B0D;
}

#ads-header-link:hover{
    text-decoration: underline;
}


#ads-sidebar #featured-ads{
    padding: 10px 0px;
}

#ads-sidebar #featured-ads img{
    margin: 0 auto;
    text-align: center;
    display: block;
}

#ads-sidebar #partner-ads{
    margin: 0 auto;
    text-align: center;
    display: block;
}

#ads-sidebar #partner-ads div{
    float: left;
}

#ads-sidebar #partner-ads img{
    float: left;
    padding: 5px;
}

#sidebar-item{
    margin-bottom: 10px;
}



/****NECTAR ADS*******/
#nectar-ads{
    text-align: center;
    margin-bottom: 15px;
}


#featured-ad{
    margin-bottom: 15px;
}

#nectar-ads .advertise{
    font-weight: bold;
    margin: 10px auto 2px
}

#nectar-ads #adsquares{
    text-align:center;
} 

#nectar-ads #adsquares div{
    display: inline;
    width: 125px;
}

#nectar-ads #adsquares div img{
    padding: 0px;
    margin: 0px;
}

#nectar-ads #adsquares div a img{
    padding: 6px 8px;
}

#editorial-credits{
    border: 1px solid #080B0D;
    padding: 5px 30px;
    margin: 10px 0px;
    font-size: 13px;
}

#editorial-credits .title{}

#editorial-credits p{
    
}

#editorial-credits h4{
    text-align: center;
    font-family: Verdana, 'sans-serif';
    border-bottom: 1px solid black;
    font-style: normal;
}

#editorial-credits .credit{
    margin: 0px 0px 10px 0px;
}
