input[type=submit], button {
  color: white;
  background-color: #719BB6;
  border: solid 2px #719BB6;
  border-radius: 1em;
  cursor: pointer;
  font-weight: bold;
  padding: 0.25em 1em 0.25em 1em;
  font-size: 12px;
  text-transform: uppercase;
}