{% extends 'commissions/grant_proposal.html' %}

{% block content %}
    <div class="section">
      <div class="left-col">

	<br>

	{% for page in pages %}
	<h3>Page {{ page.0 }}</h3>
	{% for proposal in page.1 %}
	<a href="{% url 'commissions_grant_proposal' grant.slug %}?page={{ page.0 }}#{{ proposal.id }}">{{ proposal }}</a><br>
	{% endfor %}<br>
	{% endfor %}
      </div>
      <div class="right-col">
	{% include "fragments/nectar_ads_sidebar.html" %}
      </div>
    </div>
{% endblock %}
