{% extends 'new_base.html' %}
{% load block_tags %}

{% block pageTitle %}Internet Art Prize Nomination{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/internet_art_prize_nomination.css">
{% endblock %}

{% block navbars %}
    {% get_nav 'Programs' 'Commissions' %}
{% endblock %}

{% block content %}
        <div class="section">
            <h1 id="title">I A P</h1>

	    <p>Rhizome, TAMSL, and Artbox are pleased to announce a new $10,000 prize for internet art. The prize, which will be awarded four times in total in 2014 and 2015, will recognize the past work and future promise of an artist making outstanding work on the internet.</p>
	    
	    <p>The prize celebrates this current moment of internet art and its future, and was created to acknowledge the shifting relationship between art and the web. Increasingly, the internet is the frame through which all contemporary art and culture is seen and understood. As many artists tackle technology as subject matter through different forms – sculpture, installation and painting – this prize seeks to address the relative scarcity of support for artwork that takes place primarily or exclusively online. The prize emphasizes the unique and crucial importance of such work in order to encourage those who continue to make art on the internet.</p>
	    <p>Each prize is an investment in one artist's excellence, potential, and significant future promise in internet-based art, as evidenced by the nominee's past achievement. The award is made on a "no strings attached" basis.</p>
	    <p>Nominations will be reviewed by a jury of four international judges: Michael Connor (USA), Samantha Culp (CN/USA), Zhang Ga (CN/USA), and Sabine Himmelsbach (DE/CH).</p>

	    <h2>Nomination Overview</h2>
	    <p>The deadline for entries is June 15, 2014. Nominations will be reviewed by a jury of four international judges: Michael Connor (USA), Samantha Culp (CN/USA), Zhang Ga (CN/USA) and Sabine Himmelsbach (DE/CH). </p>

	    <h2>Nomination Guidelines:</h2>
	    <p>Nominations can be made by curators, critics, arts professionals of any kind, or artists. Individuals may not nominate themselves, though they may request someone to act as their nominator and help to prepare the nomination materials. Nominators may make only one nomination per award round. 
The nomination should include: </p>
<ol>
  <li>A 500-word nomination statement about the candidate's suitability for the award</li>
  <li>Links to up to five existing internet-based artworks</li>
  <li>Links to up to five pieces of press or critical writing on the artist's work</li>
  <li>A 300 word bio of both the nominator, and the nominated artist</li>
</ol>
<p>The jury reserves the right to solicit materials from artists not nominated through this process, for its consideration.</p>
        </div>
    <div class="section">
      <a href="#" class="slide-toggle"><h1>+ Form</h1></a>
      <div class="slide-hidden">
      <form method="post" class="rz-form">{% csrf_token %}

	<div class="field">
	  <label for="fname">First Name</label>
	  <input id="fname" name="fname" type="text">
	</div>
	<div class="field">
	  <input type="submit" value="Submit" />
	</div>
      </form>
      </div>
    </div>
    <div class="section">
      <a href="#" class="slide-toggle"><h1>+ FAQ</h1></a>
      <div class="slide-hidden">
      <h2>What criteria and materials will be used to award the prize?</h2>

      <p>The jury will assess the award on artistic excellence, commitment to the field of internet art, and significant future promise as demonstrated through their achievement to date. 
The jury will review all or part of the list of URLs provided, the nomination statement, the bios of nominator and nominee, press materials, and other publicly available materials the jurors wish to review outside of the nomination itself.</p>

      <h2>What is your definition of "internet art"?</h2>
      <p>While nominees may have worked in a range of contexts, the judging process will focus primarily, if not exclusively, on their internet-based works. Internet-based works are defined as projects that are primarily experienced via an internet-connected device without  limit to a particular location such as a gallery. A particular emphasis is placed on works that are primarily accessed through a web browser. If in doubt about the formal criteria, please submit the nomination for consideration, as our jury has a sophisticated understanding of internet art practice from which to assess the works and their suitability.</p>

      <h2>Will the awarded artist be required to produce any new artworks?</h2>
      <p>No. The prize is a "no strings attached" award. The awarded artist will only agree to be profiled on the award website alongside links to their works, and to participate in the public acknowledgement and visibility of the prize where appropriate and mutually agreed – events, exhibition, use of materials, etc. The prize recognizes the limited support that artists working on the internet have, and therefore is intended as an acknowledgement of this artist's ongoing commitment to working online – rather than a commission or any other kind of funding.  Funds will be received on the announcement of the award.</p>
      <h2>On what technical platform will the jurors review the sample artworks?</h2>
      <p>Jurors will review the links on a variety of commonly available browsers, though may be able to accommodate requests for particular browsers or plugins.</p>

      <h2>What role will the nomination statement play in the assessment of the prize?</h2>
      <p>The entry will be assessed, in part, by the strength of the nominator and their recognized or articulated knowledge of contemporary art, technology, or internet art.</p>

      <h2>Can I submit more than 1 nomination?</h2>
      <p>No. The jury will only consider one nomination per individual nominator. In the case of more than one nomination by an individual nominator, the jury will only review the entry made closest to the deadline. </p>

      <h2>I am an artist. Can I nominate myself?</h2>
      <p>No. Individuals may not nominate themselves, though they may request someone to act as their nominator and help to prepare the nomination materials.</p>

      <h2>Are students or emerging artists eligible?</h2>
      <p>Technically, yes, but in practice the award will be made based on past achievement in order to evidence significant future promise. It is not anticipated that students or very emerging artists will be awarded. However, the nomination of any artist with a substantial body of work is encouraged, regardless of age.</p>

     </div>
      </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/grant_forms.js"></script>
    <script>
      jQuery.noConflict();
      (function($) {
          $('.slide-toggle').click(function(event) {
              event.preventDefault();
      console.log('hey');
              $(this).next().slideToggle('fast', function() {
              });
          });
      })(jQuery);
    </script>
{% endblock %}
