{% extends 'new_base.html' %}
{% load block_tags %}

{% block pageTitle %}Submit a Proposal{% endblock %}

{% block navbars %}
    {% get_nav 'Programs' 'Commissions' %}
{% endblock %}

{% block content %}
    <div class="header">
        <div class="section">
            <h1>{{ grant.name }}</h1>
        </div>
    </div>
    <div class="section">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

       <h1>Proposal</h1>
       <form method="post" class="rz-form">{% csrf_token %}

	<div class="field col-2">
	  <label for="name">Name</label><br>
	  <input id="name" name="name" type="text">
	</div>
	<div class="field col-2">
 	  <label for="site">Site URL</label><br>
	  <input id="site" name="site" type="text">
	</div>
	<div class="field col-2">
	  <label for="idea">Idea</label><br>
	  <textarea id="idea" name="idea" placeholder="Up to 150 words"></textarea>
	</div>

	<div class="field col-2">
	  <input type="submit" value="Submit" />
	</div>
      </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/grant_forms.js"></script>
{% endblock %}
