{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/admin_extensions.js"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    {% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
            </a>
        </caption>
        {% for model in app.models %}
            <tr>
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}

        {% if app.name == "Artbase" %}
            <tr><th scope="row"><a href="artbase/artworkstub/new_submissions/">New Submissions</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="artbase/artworkstub/awaiting_approval/">Artworks For Consideration/Awaiting Approval</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="artbase/artworkstub/artstor_csv_dump/">Create CSV for Artstor</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="artbase/artworkstub/url_inventory/">Run artwork url inventory</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
        {% endif %}

        {% if app.name == "Accounts" %}
            <tr><th scope="row"><a href="accounts/rhizomeuser/merge_users/">Merge Users</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="accounts/rhizomeuser/membership_overview/">Membership Overview</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
<!--             <tr><th scope="row"><a href="accounts/rhizomeuser/dump_new_members/">Get CSV of Latest Members</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="accounts/rhizomeuser/dump_new_users/">Get CSV of Latest Users</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="accounts/rhizomeuser/dump_nyc_members/">Get CSV of NYC Members</a></th></tr> -->
        {% endif %}

        {% if app.name == "Commissions" %}
            <tr><th scope="row"><a href="commissions/proposal/filter_proposals/">Filter Proposals for Judges</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="commissions/proposal/current_finalists/">View current cycle's finalists</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><th scope="row"><a href="commissions/proposal/get_current_proposals/">Get csv of current cycle's submitted proposals</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>                 
            <tr><th scope="row"><a href="commissions/proposal/get_current_finalists/">Get csv current cycle's finalists</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
        {% endif %}

        {% if app.name == "Orgsubs" %}
            <tr><th scope="row"><a href="orgsubs/monthlystatistics/run_stats_report">Run Stats for Org</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
        {% endif %}

        {% if app.name == "Announce" %}
            <tr><th scope="row"><a href="announce/opportunity/stats/">Announce Stats</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
        {% endif %}
        </table>
        </div>
    {% endfor %}
{% else %}
    {% if request.user.username == "commissions_judge" %}
        <div class="module">
            <table>
                <tr><th scope="row"><a href="commissions/proposal/current_finalists/">Current Commissions Finalists for Judges</a></th><td>&nbsp;</td><td>&nbsp;</td></tr>
            </table>
        </div>
    {% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="deploy-btn">
        <a id="deploy_button" href="#">Deploy</a><br />
        <img id="deploy_loading" src="{{ STATIC_URL }}images/spinner.gif" />
    </div>
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}