{% load i18n %}
<form action="{{ request.path }}" method="post">
{% csrf_token %}
    <input type = "hidden" name = "form" value = "set_password">
    <div class = "edit-profile-form span-24">
        {% for field in set_password_form %}
        <div class = "fieldset span-10">
            <div class = "h6 light-gray">{{field.label}}</div>
            <fieldset> 
                {% if field.errors %}<span class="form_errors">{{ field.errors }}</span>{% endif %}
                <div class = "edit-profile-form-input">{{field}}</div>
            </fieldset>
        </div>
        {% endfor %}
        <div class = "span-23 end">
            <fieldset id ="edit-button" class="float-right">
                <input class="round-blue" type="submit" value="Reset My Password" name="Reset My Password">
            </fieldset>
        </div>
    </div>
</form>