<div class="section span-24">
    <div class="section-row-titles post-mini-nav">
        <span class = "nav-item first {% if browse_type == 'title' %}selected{% endif %}"><a href="/artbase/browse/title">Browse by Title</a></span>
        <span class = "nav-item {% if browse_type == 'artist' %}selected{% endif %}"><a href="/artbase/browse/artist">Browse by Artist</a></span>
        <span class = "nav-item {% if browse_type == 'tag' %}selected{% endif %}"><a href="/artbase/browse/tag">Browse by Tag</a></span>
        <span class = "nav-item {% if browse_type == 'archived' %}selected{% endif %}"><a href="/artbase/browse/archived/">Browse by Archived</a></span>
        <span class = "nav-item last {% if browse_type == 'favorites' %}selected{% endif %}"><a href="/artbase/browse/favorites/">Browse by Favorites</a></span>
        <hr class="hr3-no-margin">
    </div>
</div>
