{% extends "artbase/browse_base.html" %}
{% load markup %}

{% block pageTitle %} Artbase: Browse by Artist {% endblock %}

{% block content %}

{% include "artbase/browse_nav.html" %}
 
<div class="section-content span-24">
    
    <div id = "section-search">
        <form action="/search/" method="get">
            <input id ="search" type="text" name="q" value="SEARCH THE ARTBASE"  class = "section-search-input" />
            <input type="hidden" name="models" value="artbase.artworkstub" id="id_models_13" /> 
            <button id ="directory-search"  class="round-blue-fat" type="submit">SEARCH</button>
        </form>
    </div>
    
    <div class="alphabet">
        {% for letter in alphabet %}
        {% if letter == sort %}
        <span class = "current-letter"><a href="{{request.path}}?sort={{letter}}">{{ letter.upper }}</a></span>
        {% else %}
        <span class = "letter"><a href="{{request.path}}?sort={{letter}}">{{ letter.upper }}</a></span>
        {% endif %}
        {% endfor %}
    </div>

    <table id="browse-users-table" class="browse-table" cellspacing="0" cellpadding="0" border="0">
        {% for row in grouped %}
        <tr>
            {% for user in row %}
            {% if user %}
            <td>
                {{ user.get_profile.get_medium_miniprofile_include_default|markdown }}
                <a class="listing-title" href="{{ user.get_profile.get_absolute_url }}/">
                    {{ user.get_profile|title|truncatewords:2 }}
                </a>
            </td>
            {% else %}
            <td>
                &nbsp;
            </td>
            {% endif %}
            {% endfor %}
        </tr> 
        {% endfor %}
    </table>
</div>

{% if browse_paginator.total_pages > 1 %}
<hr class="hr2-grey-no-margin">  
<span id="feed-paginator" class="span-24">
    {{ browse_paginator.render }}
    <hr class="hr2-grey">
</span>
{% endif %}
{% endblock %}
