{% extends "announce/base.html" %}

{% block pageTitle %} Thanks for Posting an Announcement!{% endblock %}

{% block content %}

<div class="section span-24">
        <div class="section-row-titles">
            <span class = "nav-item">Thanks!</span>
        </div>
    </div>
    <hr class="hr3-no-margin">
     
    <div class="about-content">
        <p>Thanks for posting to Rhizome! Your announcement is awaiting approval by the Rhizome Staff.</p>
        
        <p><a href="/announce/">Back to Announcements</a></p>
    </div>
         
</div>

{% endblock %}