<!DOCTYPE html> 

<head>
    <title>Rhizome | Benefit</title> 
    <link rel="stylesheet" href="{{ STATIC_URL }}benefit_auction/css/style.css" type="text/css"> 
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicons/leyva.gif" />
    <meta name="description" content="Rhizome is dedicated to the creation, presentation, preservation, and critique of emerging artistic practices that engage technology." />
</head> 
 
<body> 
    <br />
    <h3><a href="http://rhizomebenefitauction.eventbrite.com/" target="_blank">Tickets Available Here</a></h3>
    <h3><a href="http://www.paddle8.com/auctions/rhizome/" target="_blank">Online Auction Here</a></h3><br />

    <a target="_blank" href="http://rhizomebenefitauction.eventbrite.com/">
        <img src="{{ STATIC_URL }}benefit_auction/img/invite.png"/>
    </a>

    <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-768502-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    </script>
</body>