

/*BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY
  BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY 
 BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY
  BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY */

body {
    padding:0;
    margin:0;
    background: #fff url('../img/7-lines-sm.png') repeat center top;
    font-family: Tiempos, Georgia, Times, serif;
    line-height: 1.5;
    color: rgba(0,0,0,0.65);
    font-size: 21px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    /*background-color: #f6fefa;*/
}

p {
    font-size: 16px;
    line-height:24px;
    font-family: Georgia;
    text-align: left;
    padding:0 10px;

}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;/* rgba(137, 76, 194, 0.8); */
}

a:hover {
    color: rgba(194, 159, 70, 0.8);
    transition: color 0.2s ease;
}

li {
    display: inline-block;
}

h1 {
    font-weight: normal;
    padding: 0;
    margin: 0 0 0;
    font-size: 42px;
    line-height: 50px;
    font-family: sans-serif;
    color: black;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    font-family: sans-serif;
    text-transform: uppercase;
    color: black;
}

h3 {
    font-size:14px;
    font-family: sans-serif;
    margin:0 0 25;
    line-height: 20px;
    padding: 0;
    color: black;
}

.floatstop {
    clear: both;
}

.header {
    width: 100%;
    top: 56px;
    padding-top: 6px;
    position: absolute;
}

.header.fixed-top {
    margin-top: 0;
    background: rgba(255, 255, 255, 0.8);
}

.header.fixed-top a {
    /*color: rgba(137, 76, 194, 0.8);*/
}

.nav {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.nav ul {
    width: 640px;
    margin: 0 auto;
    text-align: left;
    padding: 10px 0 6px 0;
}

.nav li {
    padding-right: 20px;
}

/* 5th Anniversary */
.nav li:last-child {
    float: right;
    padding: 0;
    font-size: 22px;
    color: black; /* rgba(194, 159, 70, 0.8); *
    position: relative;
    top: -5px;
    /*font-family: 'Bilbo Swash Caps', cursive; */
}

.name {
    font-weight: bold;
}

.top {
    width:100%;
    text-align: center;
    padding: 0px 0px 25px;
}

.info { 
    width: 640px;
    text-align: left;
    padding:0px 0px 50px;
    margin:0 auto;
}

.date-wrap {
    width:640px;
    height:70px;
    margin: 38px auto 0 auto;
    margin-top: 200px;
}

.date {
    width:425px;
    margin: 0 auto;
    float:left;
    text-align: right;
    margin-bottom: 44px;
}

.tickets {
    width: 215px;
    margin: 0 auto;
    float:left;
    /*background-color: green;*/
}

.button {
    width:215px;
    height:70px;
    /*background-color: rgba(53,151,255,0.8);*/
    color: rgba(53,151,255,0.8);
    color: rgba(0,0,0,0.8);
    text-align: center;
    line-height:70px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;
    border:1px solid rgba(3,1,5,0.8);
    /*letter-spacing: 1px;*/
}

.button:hover {
  -moz-box-shadow:    0px 0px 5px 2px #eee;
  -webkit-box-shadow: 0px 0px 5px 2px #eee;
  box-shadow:         0px 0px 5px 2px #eee;
    background-color:rgba(3,1,5,0.8);
    color:white;
    transition: background-color 0.2s ease;
  /*color: rgba(153,151,255,0.9);*/
}

.body-wrap {
    width: 640px;
    padding:0px 0;
    margin:0 auto;
    text-align: center;
}

.footer {
    width: 1000px;
    margin-bottom: 400px;
}

.team-wrap {
    background: white;
}

.team-wrap a.pair {
    width:14.285%;
    float:left;
    opacity:0.4;
    cursor: default;
}

.team-wrap .label {
    height: 40px;
    opacity: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 20px;
}

.label.black {
    color: black;
}


.team-wrap img {
    width: 100%;
    margin-bottom: -40px;
    z-index: 10;
}

.team-wrap a.pair:hover {
    opacity:1;
    transition: opacity 0.5s ease;
}

.team-wrap a.pair:hover .label {
    opacity:1;
    transition: opacity 0.5s ease;
}

.team {
    width: 100%;
    display: block;
    float:left;
    padding-bottom:50px;
    border-top: 1px solid rgba(140,140,140,0.1);
}

.info-block {
    padding-bottom: 10px;
    border-top: none;
}

.partner-block {
    border-top: none;
}

.partner-block h2 {
    border-bottom: 1px solid rgba(140,140,140,0.1);
}

.partner-block img {
    position: relative;
    margin: 6px 20px;
}

.partner-block .member {
    width: 50%;
}

.info-block h2 {
    text-align: left;
}

.info-block p {
    padding-left: 0;
}

.member {
    float:left;
    width:320px;
}

.keynote .member {
    width:640px;
}

.keynote .member img {
    width: 620px;
}

.partner-block .member img {
    width: auto; 
}

.fixed-top {
    position: fixed;
    top: 0;
    z-index: 10000;
}
